@model List<Nop.Web.Models.Topics.TopicModel>
<div class="wrapper">
    <div class="frame">
        <table>
            <tbody>
                <tr>
                    <td colspan="4"><div class="pinkNarrowTitle">Tại sao bạn chọn mua và bán Nhà trên zHouse.com.vn?</div></td>
                </tr>
                <tr>
                    <td> 
                        <a href="t/tai-sao-mua-nha-tren-zhouse">
                            <img src="@Url.Content("~/Themes/Zhouse/Content/images/h1.png")">
                        </a><br><br>
                            Chỉ bán nhà có sổ hồng
</td>
                    <td>
                        <a href="t/tai-sao-mua-nha-tren-zhouse">
                            <img src="@Url.Content("~/Themes/Zhouse/Content/images/h2.png")"></a><br><br>
                            Thông tin đa dạng và đầy đủ
</td>
                    <td>
                        <a href="t/tai-sao-mua-nha-tren-zhouse">
                            <img src="@Url.Content("~/Themes/Zhouse/Content/images/h3.png")"></a><br><br>
                            Đội ngũ chuyên gia
</td>
                    <td>
                        <a href="t/tai-sao-mua-nha-tren-zhouse">
                            <img src="@Url.Content("~/Themes/Zhouse/Content/images/h4.png")"></a><br><br>
                            Sự tin tưởng
</td>
                </tr>
            </tbody>
        </table>

        <br><br>
      

        <div class="intro">
         
            @Html.Action("HomePageNewsCate","News")
          


            <div class="threeCol" style="margin: 0;float:right">
                <div class="whiteBgBig">
                    <ul>
                        @foreach(var i in Model)
                        {
                            <li><a title="@i.Title" href="@Url.RouteUrl("Topic", new {SystemName=i.SystemName })">@i.Title</a></li> 
                        
                        }
                        
                      
                    </ul>
                    <div class="nhonDown"></div>
                </div><!---whiteBgBig---->
                <div class="pinkNarrowTitle">Dịch vụ</div>
            </div><!--threeCol--->


        </div><!--intro--->

         <div class="clearBoth"></div>
            <div class="btn-bottom">
           <input type="button" onclick="setLocation('@Url.RouteUrl("InsertProduct")')" class="btn-rq" />
            <input  type="button" onclick="setLocation('@Url.RouteUrl("ProductSearch")')" class="btn-search"/>
            <div class="smallPinkText">Hơn <b>200</b>  căn hộ, căn nhà để bạn tìm kiếm và chọn lựa trên zHOUSE.com.vn</div>
        </div>

    </div>
</div>