@model BookingModel
@{
    string soLuongHanhKhach = "";
    if (Model.Adult > 0) {soLuongHanhKhach += Model.Adult.ToString() + " người lớn";}
    if (Model.Child > 0) { soLuongHanhKhach += ", "+ Model.Child.ToString() + " trẻ em"; }
    if (Model.Infant > 0) { soLuongHanhKhach += ", "+ Model.Infant.ToString() + " em bé"; }
}           
<article>
    <h2>Thông Tin Chuyến Bay</h2>
    <div class="info-flight">
        <div class="div-table-row">
            <div class="div-table-cell">Chuyến bay: </div>
            <div class="div-table-cell"><span>@(Model.TicketInfoReturn!=null ? "Khứ hồi" : "Một chiều")</span></div>
            <div class="div-table-cell">Số lượng hành khách: </div>
            <div class="div-table-cell"><span>@soLuongHanhKhach</span></div>
        </div>
        <div class="div-table-row">
            <div class="div-table-cell">Ngày đi:</div>
            <div class="div-table-cell"><span>@Model.TicketInfo.DepartTime.ToString("dd-MM-yyyy")</span></div>
           @if(Model.TicketInfoReturn!=null)
                {
            <div class="div-table-cell">Ngày về:</div>
            <div class="div-table-cell"><span>
                    @Model.TicketInfoReturn.DepartTime.ToString("dd-MM-yyyy")
                </span></div>
           }
        </div>
    </div>
    <div class="info-flight div-table">
        <div class="div-table-row place-flight">
            <div class="div-table-cell logo-brand"><img src="@Url.Content("~/Themes/ClickBay/Content/images/"+Model.TicketInfo.BrandCode+".gif")" /></div>
            <div class="div-table-cell">Khởi hành từ <span>@Model.TicketInfo.FromPlace, @Model.TicketInfo.FromCountry</span></div>
            <div class="div-table-cell"></div>
            <div class="div-table-cell">Thời gian bay: <span>@Model.TicketInfo.FlightDurationString</span></div>
        </div>
        <div class="div-table-row">
            <div class="div-table-cell"></div>
            <div class="div-table-cell">Từ <span>@Model.TicketInfo.FromPlace (@Model.TicketInfo.FromCode)</span></div>
            <div class="div-table-cell">tới: <span>@Model.TicketInfo.ToPlace (@Model.TicketInfo.ToCode)</span></div>
            <div class="div-table-cell">@Model.TicketInfo.AirlineName <span>(@Model.TicketInfo.FlightNumber)</span></div>
        </div>
        <div class="div-table-row">
            <div class="div-table-cell"></div>
            <div class="div-table-cell"><span>@Model.TicketInfo.DepartTime.ToString("HH'h':mm dd-MM-yyyy")</span></div>
            <div class="div-table-cell"><span>@Model.TicketInfo.LandingTime.ToString("HH'h':mm dd-MM-yyyy")</span></div>
            <div class="div-table-cell">Loại vé: <span>@Model.TicketInfo.TicketType</span></div>
        </div>
        @if(Model.TicketInfoReturn!=null)
        {
           <div class="div-table-row place-flight">
            <div class="div-table-cell logo-brand"><img src="@Url.Content("~/Themes/ClickBay/Content/images/" + Model.TicketInfoReturn.BrandCode + ".gif")" /></div>
            <div class="div-table-cell">Khởi hành từ <span>@Model.TicketInfoReturn.FromPlace, @Model.TicketInfoReturn.FromCountry</span></div>
            <div class="div-table-cell"></div>
            <div class="div-table-cell">Thời gian bay: <span>@Model.TicketInfoReturn.FlightDurationString</span></div>
        </div>
        <div class="div-table-row">
            <div class="div-table-cell"></div>
            <div class="div-table-cell">Từ <span>@Model.TicketInfoReturn.FromPlace (@Model.TicketInfoReturn.FromCode)</span></div>
            <div class="div-table-cell">tới: <span>@Model.TicketInfoReturn.ToPlace (@Model.TicketInfoReturn.ToCode)</span></div>
            <div class="div-table-cell">@Model.TicketInfoReturn.AirlineName <span>(@Model.TicketInfoReturn.FlightNumber)</span></div>
        </div>
        <div class="div-table-row">
            <div class="div-table-cell"></div>
            <div class="div-table-cell"><span>@Model.TicketInfoReturn.DepartTime.ToString("hh'h':mm dd-MM-yyyy")</span></div>
            <div class="div-table-cell"><span>@Model.TicketInfoReturn.LandingTime.ToString("hh'h':mm dd-MM-yyyy")</span></div>
            <div class="div-table-cell">Loại vé: <span>@Model.TicketInfoReturn.TicketType</span></div>
        </div>
        }
    </div>
</article>
