@model PlanX.Web.Models.ClickBay.SearchModel
@{var culture = new System.Globalization.CultureInfo("vi-VN");}
@if (Model.Tickets.Count == 0)
{
    <p>Không tìm thấy kết quả</p>
}
else
{
    <table class="orange none-border" id="tblTicket">
        <tbody>
            @foreach (var item in Model.Tickets)
            {
                <tr id="ticketChecked_@item.Index">
                    <td class="icon-flight"><img src="@Url.Content("~/Themes/ClickBay/Content/images/"+item.BrandCode+".gif")" /></td>
                    <td class="stops">@(item.Stops > 0 ? string.Format("{0} điểm dừng ({1})", item.Stops, item.FlightDurationString) : item.FlightNumber)</td>
                    <td class="big-font color-black" id="">@item.DepartTime.ToString("HH:mm") - @item.LandingTime.ToString("HH:mm")</td>
                    <td class="big-font color-orange">@item.Price.ToString("#,##")</td>
                    <td class="currency">vnđ</td>
                    <td class="explan-detail">
                        <a onclick="showDetail(@item.Index,@(Model.Return?"true":"false"))"><label>Chi tiết</label> <i class="fa fa-plus-square-o fa-lg"></i></a>
                    </td>
                    <td class="cell-radio"><input onclick="ticketChecked(@item.Index,@(Model.Return?"true":"false"))" type="radio" name="@(Model.Return?"ticketChecked-return":"ticketChecked")" value="@item.Index"></td>
                </tr>
                <tr id="detail_@item.Index" style="display:none"></tr>
            }
        </tbody>
    </table>
    <input type="hidden" value="@Model.SessionId" id="@(Model.Return?"sessionid-return":"sessionid")" />
}