@model PlanX.Web.Models.ClickBay.SearchModel
@if(Model.Tickets.Count==0)
{
    <p>Không tìm thấy kết quả</p>
}
else{

    <div class="bordered">
        <table class="table none-border pointer main-background">
            <thead>
                <tr>
                    @{
                        DateTime startDate=Model.SearchDate.AddDays(-3);
                         
                        for (int i = 0; i < 6;i++ )
                        {
                            var date = startDate.AddDays(i);
                        <th @(i==3?"class=active":"")><p>@date.DayOfWeek.ToString()</p><p>@date.ToString("dd-MM-yyyy")</p></th>
                         
                    
                          
                        }
                    }
                    
                </tr>
            </thead>
        </table>
        <table class="orange none-border" id="tblTicket">
            <tbody>
                @foreach(var item in Model.Tickets)
                { 
                <tr id="ticketChecked_@item.Index">
                    <td>@item.BrandCode</td>
                    <td>@item.FlightNumber</td>
                    <td class="big-font" id="">@item.DepartTime.ToString("hh:mm") - @item.LandingTime.ToString("hh:mm")</td>
                    <td class="big-font">@item.Price.ToString("#,##")</td>
                    <td class="currency">@item.Currency</td>
                    <td><a onclick="showDetail(@item.Index,@(Model.Return?"true":"false"))">Chi tiết<img src="@Url.Content("~/Themes/ClickBay/content/images/plus-icon.png")" class="icon-small"></a>
                  
                    </td>
                    <td ><input type="radio" name="@(Model.Return?"ticketChecked-return":"ticketChecked")" value="@item.Index"></td>
                </tr>
                    <tr id="detail_@item.Index" style="display:none">
                       
                    </tr>
                }
               
            </tbody>
        </table>
       
    </div>
 <input type="hidden" value="@Model.SessionId" id="@(Model.Return?"sessionid-return":"sessionid")" />

}
