@model List<PlanX.Web.Models.ClickBay.BookingRecentModel>
@if (Model != null && Model.Count > 0) {
<div class="box">
    <div class="box-h boder-dashed">
        <div class="box-t">
            <img src="@Url.Content("~/Themes/ClickBay/Content/images/mouse.png")">
            MỚI CLICK CHỜ BAY
        </div>
    </div>
    <div class="box-c">
        <div class="list-ticket">
                <div class="row">
                <div>Khách đặt vé máy bay <b>SG-HN</b> ngày 12/12/2014</div>
                <div class="item-detail">
                    <span class="item-logo">
                        <img src="@Url.Content("~/Themes/ClickBay/Content/images/mouse.png")" width="50" height="50">
                    </span>
                    <span class="time">
                        1 giờ trước
                    </span>
                    <span class="price">
                        Giá: <b> 800.000 VNĐ</b>
                    </span>
                    <span class="detail-v">
                        <a>Chi tiết</a>
                    </span>
                </div>
            </div>

            <div class="row">
                <div>Khách đặt vé máy bay <b>SG-HN</b> ngày 12/12/2014</div>
                <div class="item-detail">
                    <span class="item-logo">
                        <img src="@Url.Content("~/Themes/ClickBay/Content/images/mouse.png")" width="50" height="50">
                    </span>
                    <span class="time">
                        1 giờ trước
                    </span>
                    <span class="price">
                        Giá: <b> 800.000 VNĐ</b>
                    </span>
                    <span class="detail-v">
                        <a>Chi tiết</a>
                    </span>
                </div>
            </div>

            <div class="row">
                <div>Khách đặt vé máy bay <b>SG-HN</b> ngày 12/12/2014</div>
                <div class="item-detail">
                    <span class="item-logo">
                        <img src="@Url.Content("~/Themes/ClickBay/Content/images/mouse.png")" width="50" height="50">
                    </span>
                    <span class="time">
                        1 giờ trước
                    </span>
                    <span class="price">
                        Giá: <b> 800.000 VNĐ</b>
                    </span>
                    <span class="detail-v">
                        <a>Chi tiết</a>
                    </span>
                </div>
            </div>

            <div class="row">
                <div>Khách đặt vé máy bay <b>SG-HN</b> ngày 12/12/2014</div>
                <div class="item-detail">
                    <span class="item-logo">
                        <img src="@Url.Content("~/Themes/ClickBay/Content/images/mouse.png")" width="50" height="50">
                    </span>
                    <span class="time">
                        1 giờ trước
                    </span>
                    <span class="price">
                        Giá: <b> 800.000 VNĐ</b>
                    </span>
                    <span class="detail-v">
                        <a>Chi tiết</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>}