@model PlanX.Web.Models.ClickBay.SearchModel
@{
    Layout = "~/Views/Shared/_ColumnOne.cshtml";
}

<div class="wrapper-body">
    <div class="wrapper-content inline">
        <section class="section-top">
            <div class="breadcrumb">
                <p><span>Trang chủ</span><img src="~/Themes/ClickBay/Content/images/forward-icon.png" class="icon-small"><span>Tìm kiếm</span><img src="~/Themes/ClickBay/Content/images/forward-icon.png" class="icon-small"><span class="active">Chọn chuyến bay</span><img src="~/Themes/ClickBay/Content/images/forward-icon.png" class="icon-small"><span>Khách hàng</span><img src="~/Themes/ClickBay/Content/images/forward-icon.png" class="icon-small"><span>Thanh toán</span><img src="~/Themes/ClickBay/Content/images/forward-icon.png" class="icon-small"><span>Xác nhận</span></p>
            </div>
        </section>
        <div style="width:880px;float:left">
            <section class="section">
                <div class="info-filter">
                    <p>
                        <span class="info-title-search">@Model.FromName</span><span>đi</span><span class="info-title-search">@Model.ToName</span><span style="color:#000">|</span>

                        <span>Ngày</span><span class="info-title-search">@Model.DepartDate</span>
                    </p>
                </div>
                <div class="info-passenger">
                    <p><span>Số lượng người lớn:</span><span>@Model.Adult</span><span>Số lượng trẻ em:</span><span>@Model.Child</span><span>Số lượng em bé:</span><span>@Model.Flant</span></p>
                </div>
            </section>
            <section class="section-left-search section" id="table-data">


            </section>
            @if (Model.Return)
            {
                <div class="section" style="float:left">

                    <div class="info-filter">
                        <p>
                            <span class="info-title-search">@Model.ToName</span><span>đi</span><span class="info-title-search">@Model.FromName</span><span style="color:#000">|</span>

                            <span>Ngày</span><span class="info-title-search">@Model.ReturnDate </span>
                        </p>
                    </div>
                    <div class="info-passenger">
                        <p><span>Số lượng người lớn:</span><span>@Model.Adult</span><span>Số lượng trẻ em:</span><span>@Model.Child</span><span>Số lượng em bé:</span><span>@Model.Flant</span></p>
                    </div>

                </div>
                <section class="section-left-search section" id="table-data-return">

                </section>
            }
            <input type="button" value="Tiếp tục" class="default" id="btnContinue" onclick="selectTicket()" name="btnContinue">
        </div>

        <section class="section-right-search">
            <article>
                <aside>
                    <div class="box-sort">
                        <div class="title box-head">
                            <span class="title-left">Sắp xếp</span>
                        </div>
                        <div class="box-content">
                            <p><input type="radio"  checked="checked" value="1" name="radioSort"><span>Giá (thấp -&gt; cao)</span></p>
                            <p><input type="radio"  value="2" name="radioSort"><span>Thời gian đi</span></p>
                            <p><input type="radio"  value="3" name="radioSort"><span>Hãng hàng không</span></p>
                        </div>
                    </div>
                </aside>
                <aside>
                    <div class="box-filter">
                        <div class="title box-head">
                            <span class="title-left">Lọc theo hãng hàng không</span>
                        </div>
                        <div class="box-content">
                            <p><input type="checkbox" name="checkFlight" value="VietnamAirlines"><span>VietNam Arilines</span></p>
                            <p><input type="checkbox" name="checkFlight" value="JetStar"><span>JetStart</span></p>
                            <p><input type="checkbox" name="checkFlight" value="VietJetAir"><span>Vietjet Air</span></p>
                        </div>
                    </div>
                </aside>
            
                @Html.Action("SearchBox", new {isSmall=true })

            </article>
        </section>
        <div class="clear"></div>

        </div>
    </div>
<script type="text/javascript">
    $(document).ready(function () {
        search();
        $("input[name=radioSort]").click(function(){
            search();
        })
    })
    function search()
    {
        var selectedSource=[];
        $("input[name=checkFlight]:checked").each(function(i,e){
                selectedSource.push($(this).val())
        });            
        var data = {
            FromID:'@(Model.FromId!=null?Model.FromId:"")',
            ToId:'@(Model.ToId!=null?Model.ToId:"")',
            DepartDate: '@Model.DepartDate',
            ReturnDate:'@Model.ReturnDate', 
            Adult:@Model.Adult,
            Child:@Model.Child,
            Flant:@Model.Flant,
            Sort:$("input[name=radioSort]:checked").val(),
            Source:selectedSource,
            SessionId: $("#sessionid").val()
           
        };
        displayAjaxLoading(true);
        $.get("@Url.Action("TicketSearch")",data,function(d){
            $("#table-data").html(d);
            displayAjaxLoading(false)
        }).error(function(){
            alert("Lỗi kết nối! vui lòng thử lại");
            displayAjaxLoading(false);
        })
        @if(Model.Return)
                {<text>
                     var data = {
                    FromID:'@(Model.ToId != null ? Model.ToId : "")',
                    ToId:'@(Model.FromId != null ? Model.FromId : "")',
                    DepartDate: '@Model.ReturnDate',
                    Adult:@Model.Adult,
                    Child:@Model.Child,
                    Flant:@Model.Flant,
                    Sort:$("input[name=radioSort]:checked").val(),
                    Source:selectedSource,
                    SessionId: $("#sessionid-return").val(),
                    Return:true

           
                };
                displayAjaxLoading(true);
                $.get("@Url.Action("TicketSearch")",data,function(d){
                    $("#table-data-return").html(d);
                    displayAjaxLoading(false)
                }).error(function(){
                    alert("Lỗi kết nối! vui lòng thử lại");
                    displayAjaxLoading(false);
                })</text>
        }
    }
    function showDetail(id,isReturn)
    {
        var table = $("#detail_" + id);
        
        if (!table.attr('show')) {
             
            var sessionId="";
            if (!isReturn)
                sessionId= $("#sessionid").val();
            else
                sessionId=$("#sessionid-return").val();
            $.get("@Url.Action("GetTicketDetail")", { sessionId:sessionId, index: id }, function (d) {
                table.html("<td colspan='7'>"+d+"</td>");
                table.show('slow');
                table.attr('show', '1');
            });
    }
    else {
              if (table.is(":hidden"))
    table.show('slow');
    else
                  table.hide('slow');
    }
         
    }
    function selectTicket()
    {

        var  sessionId= $("#sessionid").val();

        var selectRadion=$("input[name=ticketChecked]:checked");
        var selectedRadioReturn=$("input[name=ticketChecked-return]:checked");
        if(selectRadion.length==0)
            alert("Vui lòng chọn vé!");
        @if(Model.Return)
        {
            <text>

            else if(selectedRadioReturn.length==0)
            {
                alert("Vui lòng chọn vé lượt về!");
            }
            </text>
        }         
        else
        {
              
        }
    else
    {
          var data= { 
              index: selectRadion.val(),
              session:sessionId,
              adult:@Model.Adult,
              child:@Model.Child,
              iflant:@Model.Flant 
          };
          @if(Model.Return)
          {

              <text>
                data.indexReturn=selectedRadioReturn.val();
              data.sessionReturn=$("#sessionid-return").val();

              </text>
          }


        displayAjaxLoading(true);
        $.post("@Url.Action("SelectedTicket")",data, function (d) {
            if (d == "OK")
                window.location.href = '@Url.RouteUrl("Booking")';
            else
            {
                alert("Đã có lỗi xảy ra! vui lòng nhấn F5");
            }
            displayAjaxLoading(false);
        }).error(function () {
            alert("Loi sever");
            displayAjaxLoading(false);
        })
    }
    }
</script>

        


