@model Nop.Web.Models.Catalog.SearchModel

<div class="whiteLeftCol">
    <div class="greyBgTitle"><h2> lọc theo vị trí</h2></div>
    <div class="whiteLeftColContent">
        @foreach (var i in Model.Wards.Where(x => x.Value != "0").ToList())
        {
            <input type="checkbox" id="ckDist_@i.Value" name="DistrictIds" value="@i.Value" />    <label for="ckDist_@i.Value">@i.Text</label><br>
        }
    </div>
</div>
<div class="whiteLeftCol">
    <div class="greyBgTitle"><h2> Lọc theo giá</h2></div>
    <div class="whiteLeftColContent">    
        @foreach (var i in Model.PriceRange.Where(x => x.Value!="0-0").ToList())
        {
            <input type="radio" id="ckDist_@i.Value" name="PriceString" value="@i.Value" />    <label for="ckDist_@i.Value">@i.Text</label><br>
        }              
    </div>
</div>
<div class="whiteLeftCol">
    <div class="greyBgTitle"><h2> Lọc theo loại</h2></div>
    <div class="whiteLeftColContent">
        @foreach (var i in Model.AvailableCategories.Where(x => x.Value!="0").ToList())
        {
            <input type="checkbox" id="ckDist_@i.Value" name="Cids" value="@i.Value" />    <label for="ckDist_@i.Value">@i.Text</label><br>
        }
    </div>
</div>
<div class="whiteLeftCol">
    <div class="greyBgTitle"><h2> Lọc theo dự án</h2></div>
    <div class="whiteLeftColContent">
        @foreach (var i in Model.AvailableManufacturers)
        {
            <input type="checkbox" id="ckDist_@i.Value" name="ManufactureIds" value="@i.Value" />    <label for="ckDist_@i.Value">@i.Text</label><br>
        }
    </div>
</div>
