<!DOCTYPE>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
   <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">             
    <meta content="SANKYO CNC ASIA ,CNC 120/ASIA 120, CNC 150 / ASIA 150, Electric incinerator" name="KeyWords">
    <meta name="Description" content="SANKYO CNC ASIA ,CNC 120/ASIA 120, CNC 150 / ASIA 150, Electric incinerator">
    <title>SANKYO ASIA - VIỆT NAM</title>
    <script src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")"></script>

        <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")"></script>
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.datepicker.css")" rel="stylesheet" />
    <link rel="stylesheet" href="@Url.Content("~/Themes/styles.css")" />
</head>
<body>
   @RenderBody()
</body>
</html>
