@model List<Nop.Web.Models.Topics.TopicModel>
<div class="wrapper">
    <div class="frame">
        <table>
            <tbody>
                <tr>
                    <td colspan="4"><div class="pinkNarrowTitle">Tại sao bạn chọn mua và bán Nhà trên zHouse.com.vn?</div></td>
                </tr>
                <tr>
                    <td>
                        <img src="@Url.Content("~/Themes/Zhouse/Content/images/h1.png")"><br><br>
                        Chỉ bán nhà có sổ hồng
                    </td>
                    <td>
                        <img src="@Url.Content("~/Themes/Zhouse/Content/images/h2.png")"><br><br>
                        Thông tin đa dạng và đầy đủ
                    </td>
                    <td>
                        <img src="@Url.Content("~/Themes/Zhouse/Content/images/h3.png")"><br><br>
                        Đội ngũ chuyên gia
                    </td>
                    <td>
                        <img src="@Url.Content("~/Themes/Zhouse/Content/images/h4.png")"><br><br>
                        Sự tin tưởng
                    </td>
                </tr>
            </tbody>
        </table>

        <br><br>
        <center>
            <input type="button" class="blueBigBtn" onclick="setLocation('@Url.RouteUrl("ProductSearch")')" value="Tìm kiếm ngôi nhà trong mơ của bạn">
            <br>
            <div class="smallPinkText">Hơn 1.000.000 căn hộ, căn nhà để bạn tìm kiếm và chọn lựa trên zHOUSE.com.vn</div>
        </center>

        <div class="intro">
         
            @Html.Action("HomePageNewsCate","News")
          


            <div class="threeCol" style="margin: 0;float:right">
                <div class="whiteBgBig">
                    <ul>
                        @foreach(var i in Model)
                        {
                            <li><a title="@i.Title" href="@Url.RouteUrl("Topic", new {SystemName=i.SystemName })">@i.Title</a></li> 
                        
                        }
                        
                      
                    </ul>
                    <div class="nhonDown"></div>
                </div><!---whiteBgBig---->
                <div class="pinkNarrowTitle">Dịch vụ</div>
            </div><!--threeCol--->


        </div><!--intro--->

    </div>
</div>