@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}
<div class="full-width">
    <div class="top">
    	<div class="wrapper">
			<div class="logo"><a href="@Url.RouteUrl("HomePage")"><img src="@Url.Content("~/Themes/Zhouse/Content/images/logo.png")" class="noborder"></a></div>
              @Html.Action("TopMenu", "Catalog")
		</div>@*wrapper*@
    </div>   
       @Html.Action("SearchBoxHead", "Catalog", new {isHome=false })
    @RenderBody()
    <div class="clearBoth"></div>
      @Html.Action("Footer", "Common")
</div>


