﻿@model FooterModel
@using Nop.Web.Models.Common;

<div class="footer">
    <div class="footerBg">
        <div class="wrapper">
            <div class="footerCol">
                <b>Tìm nhà theo hướng</b><br><br>
                <ul>
                        <li><a href="@GetSeName(Request.Url.Host, "nha-pho", null, null, null, "36")">Nhà hướng Đông</a></li>
                        <li><a href="@GetSeName(Request.Url.Host, "nha-pho", null, null, null, "37")">Nhà hướng Tây</a></li>
                        <li><a href="@GetSeName(Request.Url.Host, "nha-pho", null, null, null, "38")">Nhà hướng Nam</a></li>
                        <li><a href="@GetSeName(Request.Url.Host, "nha-pho", null, null, null, "39")">Nhà hướng Bắc</a></li>
                        <li><a href="@GetSeName(Request.Url.Host, "nha-pho", null, null, null, "43")">Nhà hướng Tây Nam</a></li>
                        <li><a href="@GetSeName(Request.Url.Host, "nha-pho", null, null, null, "42")">Nhà hướng Đông Nam</a></li>
                </ul>
            </div>
            <div class="footerCol">
                <b>Theo khoảng giá</b><br><br>
                <ul>
                        <li><a href="@GetSeName(Request.Url.Host, "nha-pho", null, null,"0-1000",null)">Dưới 1 tỷ</a></li>
                        <li><a href="@GetSeName(Request.Url.Host, "nha-pho", null, null,"1000-1500",null)">1 tỷ đến 1.5 tỷ</a></li>
                        <li><a href="@GetSeName(Request.Url.Host, "nha-pho", null, null,"1500-2000",null)">1.5 tỷ đến 2 tỷ</a></li>
                        <li><a href="@GetSeName(Request.Url.Host, "nha-pho", null, null,"2000-2500",null)">2 tỷ đến 2.5 tỷ</a></li>
                        <li><a href="@GetSeName(Request.Url.Host, "nha-pho", null, null,"2500-3000",null)">2.5 tỷ đến 3 tỷ</a></li>
                        <li><a href="@GetSeName(Request.Url.Host, "nha-pho", null, null,"3000-0",null)">Lớn hơn 3 tỷ</a></li>
                </ul>
            </div>
            <div class="footerCol">
                <b>Hướng dẫn- thủ tục mua nhà</b><br><br>
                <ul>
                    @foreach (var i in Model.Topics)
                    {
                        <li><a href="@Url.RouteUrl("Topic", new {SystemName=i.Value })">@i.Text</a></li>
                    }
                </ul>
            </div>
            <div class="footerCol">
                <div class="map-link">
                    <a class="btn-map" href="@Url.RouteUrl("map")"></a>
                </div>
                @*<b>Kết nối với chúng tôi</b><br><br>

                @Html.Action("NewsletterBox", "NewsLetter")<br />
                <a href="http://facebook.com/zhouseonline" target="_blank"><img src="@Url.Content("~/Themes/Zhouse/Content/images/footerLink.png")" class="noborder" alt="facebook zHouseOnline"></a>
                <input type="button" onclick="setLocation('http://hoidap.zhouse.com.vn')" class="btn-QA" value="" />*@
            </div>
        </div>
    </div>
    <div class="clearBoth"></div>
    <div class="menu-footer">
        <ul>
            <li><h4><a href="@Url.RouteUrl("ContactUs")#div-gioithieu">Giới thiệu</a></h4></li>
            <li><h4><a href="@Url.RouteUrl("Topic", new {SystemName="hop-tac" })">Hợp tác</a></h4></li>
            <li><h4><a href="@Url.RouteUrl("Topic", new {SystemName="tuyen-dung" })">Tuyển dụng</a></h4></li>
            <li><h4><a href="@Url.RouteUrl("ContactUs")#div-contact">Liên hệ</a></h4></li>
        </ul>
    </div>
    <div class="wrapper">
        <div class="footerEnd">
            <p>Copyright 2014 © Hoanga.com.vn - Bản quyền thuộc về Hoanga.com.vn</p>
            <p>Địa chỉ: 144/12/18a Đường Số 6, P. Bình Hưng Hòa B, Q. Bình Tân, Tp. Hồ Chí Minh - Điện thoại:(+84)8 6681 3308</p>
            <p>Email: contact@muabannhadathoanga.com | Website: <a href="http://muabannhadathoanga.com">http://muabannhadathoanga.com</a></p>
            <p>Thiết kế bởi <a href="http://ecomsolute.com">eCOMsolute.com</a></p>
        </div>
       
    </div>
    @Html.Widget("footer")
</div>
