@model PlanX.Web.Models.News.NewsItemModel
<div class="newsItem">
    <div class="inside">
        <div class="image_default" id="@Model.Id">
            <a href="@Url.RouteUrl("NewsItem", new { SeName = Model.SeName })"><img src="@Model.DefaultPictureModel.ImageUrl" alt="@Html.Raw(Model.Title)" onload="imageResize(@Model.Id)"></a>
            <p class="desktop date"><span class="day">@Model.CreatedOn.ToString("dd/MM")</span><br /><span class="year">@Model.CreatedOn.Year.ToString()</span></p>
        </div>
        <div class="item_content_preview">
            <div>
                <h3><a href="@Url.RouteUrl("NewsItem", new { SeName = Model.SeName })" title="@Html.Raw(Model.Title)">@Html.Raw(Model.Title)</a></h3>
                <p class="desktop"><span>@Html.Raw(Model.Short.TrimString(100))</span></p>
                <p class="mobile"><span><i class="fa fa-calendar"></i> @Model.CreatedOn.ToString("dd/MM/yyyy")</span></p>
            </div>
        </div>
    </div>
</div>