@model IList<PlanX.Web.Models.News.NewsItemModel>
@if (Model.Count > 0)
{
<script src="~/Scripts/jquery.flexslider.js"></script>
<link type="text/css" rel="stylesheet" href="~/Themes/Thanhtoandidong/Content/flexslider.css" />
<div id="slider" class="flexslider">
    <ul class="slides">
        @foreach (var banner in Model)
        {
            <li>
                <div class="banner-title">
                    <div class="top_news_1">
                        <a href="@Url.RouteUrl("NewsItem", new { SeName = banner.SeName })"><h3>@Html.Raw(banner.Title)</h3></a>
                    </div>
                    <div class="top_news_2">
                        <p>
                            <span>
                                @Html.Raw(banner.Short.TrimString(100))
                            </span>
                        </p>
                    </div>
                </div>
                <div class="slide_image">
                    <img src="@banner.DefaultPictureModel.FullSizeImageUrl" style="height:100%" alt="@Html.Raw(banner.Title)" title="@Html.Raw(banner.Title)">
                </div>                
            </li>
        }
    </ul>
</div>
<script type="text/javascript">
    $(window).load(function () {
        $('#slider').flexslider({
            animation: "fade",
            controlNav: false,
            randomize: true,
            directionNav: true
        });
    });
</script>}