@model PlanX.Web.Models.News.NavigativeCategory
<div class="navigati">
    <nav class="header_menu">
        <ul>
            @foreach(var category in Model.CategoryNewsChild)
            {
            <li class="menu-item"><a href="@Url.RouteUrl("CategoryNews", new { SeName = category.SeName })" title="@Html.Raw(category.Name)" class="@(category.Id == Model.CurrentCategoryId ? "active":"")">@Html.Raw(category.Name)</a>
            @if(category.CategoryNewsChild.Count>0)
            {
                <ul class="sub" style="display:none">
                    @foreach (var child in category.CategoryNewsChild) 
                    { 
                    <li><a href="@Url.RouteUrl("CategoryNews", new{SeName=child.SeName})" title="@Html.Raw(child.Name)"><span>@Html.Raw(child.Name)</span></a></li>
                    }
                </ul>
            }
            </li>
            }
        </ul>
    </nav>
</div>
<script type="text/javascript">
    $(document).ready(function () { 
    $(".menu-item,.menu-item.sub").mouseover(function () {
        $(this).find("ul").show();
    }).mouseout(function () {
        $(this).find("ul").hide();
    })
    $(".menu-item.sub").mouseover(function () {
        $(this).show();
    }).mouseout(function () {
        $(this).hide();
    })
    })
</script>