@model Nop.Web.Models.Catalog.SearchModel
@{
    Layout = null;
}

@using (Html.BeginRouteForm("ProductSearch", FormMethod.Get, new {id="frmSearchHead" }))
{<div class="top2">
    	<div class="wrapper">
            <div class="wholeSearch">
               
              @Html.DropDownList("DistrictId",Model.Districts,new{@class="formBoxSelect"})
              @Html.DropDownList("PriceString",Model.PriceRange,new{@class="formBoxSelect"})
              @Html.DropDownList("Cid",Model.AvailableCategories,new{@class="formBoxSelect"})
              @Html.DropDownList("SelectedOptionIds",Model.BedRooms,"Số phòng ngủ",new{@class="formBoxSelect"})
              @Html.DropDownList("SelectedOptionIds",Model.BadRooms,"Số phòng tắm",new{@class="formBoxSelect"})
                <input type="submit" class="blueBtn" value="tìm kiếm">
            </div>
        </div>
    </div>
  
}