@model Nop.Web.Models.Catalog.SearchModel

@using (Html.BeginRouteForm("ProductSearch", FormMethod.Get))
{
  <div class="wrapper">
<div class="topInfo">
        	<div class="pinkBg">            	
                <img src="@Url.Content("~/Themes/Zhouse/Content/images/zhouse.png")"/> <br>
                @Html.DropDownList("DistrictId",Model.Districts,new{@class="box"})
               @Html.DropDownList("PriceString",Model.PriceRange,new{@class="box"})<br>
                @Html.DropDownList("Cid",Model.AvailableCategories,new{@class="box"})
                 @Html.DropDownList("SelectedOptionIds",Model.BedRooms,"Số phòng ngủ",new{@class="box"})
<br>
                <input type="submit" class="blueBtn" value="tìm kiếm">
            </div>
        </div>
</div>
<img src="@Url.Content("~/Themes/Zhouse/Content/images/stretchImg.png")" class="stretchImg">
}

