@model List<CardMobile>
@{
    ViewBag.Title = "ChangePrice";
    Layout = "~/Administration/Views/Shared/_Layout.cshtml";
}

<table id="tbPrice" class="table table-striped table-bordered">
    <thead>
        <tr>
        <th>Tên card</th>
        <th>Giá bán</th>
          
            </tr>
    </thead>
    <tbody>
       @foreach (var i in Model)
       { 
        <tr>
            <td>@i.Name</td>
            <td data-id="@i.Id" data-price="@i.UnitSellingPrice">@string.Format("{0:0,0}",i.UnitSellingPrice)</td>
            
        </tr>
       }
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        $("td[data-price]").click(function () {
            if ($("input[name=price]").length>0)
                return;
            var price = parseInt($(this).attr("data-price"));
            var txt = $("<input/>").attr("name", "price").val(price);
            var btnUpdate = $("<input/>").attr("type","button").attr("name", "btnupdate").val("Cập nhật");
            var btnCancel = $("<input/>").attr("type", "button").attr("name", "btnCancel").val("Bỏ qua");
            $(this).html(txt);
            $(this).append(btnUpdate);
            $(this).append(btnCancel);
        });
        $(document).on("click", "input[name=btnCancel]", function (e) {
            var input = $(this).parent().children("input[name=price]"); 
            $(this).parent().attr("data-price", input.val()).html(formatnumber(input.val()));
        })
        $(document).on("click", "input[name=btnupdate]", function (e) {            
            var input = $(this).parent().children("input[name=price]");           
            var price = input.val();
            var tr =$(this).parent();
            var id = tr.attr("data-id");
            $.post("@Url.Action("EditPrice")", {price: price,id: id}, function (d) {
                if (d.success) {
                    tr.attr("data-price", price).html(d.mgs);
                }
                else
                    alert(d.mgs);
            }).error(function () {
                alert("lỗi cập nhật không thành công!");
            })
        })
    })
</script>
