@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}
@Html.Widget("body_start_html_tag_after")
@Html.Partial("_Notifications")
<div class="master-wrapper-page">
    @Html.Action("JavaScriptDisabledWarning", "Common")
    <div class="master-wrapper-content">
      @*  <script type="text/javascript">
            AjaxCart.init(false, '.header-links .cart-qty', '.header-links .wishlist-qty', '#flyout-cart');
        </script>
  *@<div class="top">
    	<div class="wrapper">
			<div class="logo"><a href="@Url.RouteUrl("HomePage")"><img src="@Url.Content("~/Themes/Zhouse/Content/images/logo.png")" class="noborder"></a></div>
              @Html.Action("TopMenu", "Catalog")
		</div><!---wrapper---->
    </div>       
     
            @Html.Action("SearchBoxHead", "Catalog", new {isHome=Url.RequestContext.RouteData.Values["controller"].ToString().Equals("home", StringComparison.InvariantCultureIgnoreCase) })
     
        
        @Html.Widget("content_before")
        @*ajax loading window*@
        <div class="ajax-loading-block-window" id="ajax-loading" style="display: none">
            <div class="loading-image">
            </div>
        </div>
        <div class="master-wrapper-main">
            
            @RenderBody()
        </div>
        @Html.Widget("content_after")
        @Html.Action("EuCookieLaw", "Common")
    </div>
    @Html.Action("Footer", "Common")
</div>
@Html.Widget("body_end_html_tag_before")
<div style="display:none" id="popup"></div>
