@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    Html.AddTitleParts("Kênh thông tin, tin tức, công nghệ và marketing trong lĩnh vực thanh toán qua di động");
}
<!--Menu-->
@Html.Partial("_HeaderContent")
<!--mainContent-->
<section class="mainContent">
    <!--left-->
    <article class="mainContent_left" id="list-news">
        @Html.Action("HomePageNews", "News", new { pageSize = 5, thumsImageSize = 365 })

    </article>
    
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on("click", "#btnPrev,#btnNext", function () {
                var currentPage = parseInt($("#newsPageIndex").val());
                if ($(this).attr("id") == "btnPrev")
                    currentPage--;
                else
                    currentPage++;
                $("#list-news").load("@Url.Action("HomePageNews", "News")", { pageindex: currentPage,thumsImageSize:365,pageSize:5 }, function (d) {
                    $("html,body").animate({
                        scrollTop: $("#list-news").position().top

                    }, 400);
                  
                }).error(function () {
                    alert("Lỗi kết nối server! vui lòng thử lại");
                });


            })
        })
    </script>
    <!--right-->
    <article class="mainContent_right">
        <!--ads box-->
        <aside class="ads_box">
            @Html.Action("BannerShow", "Banner", new { position = 21 })
        </aside>
        <!--hot view-->
        @Html.Action("HotView","News")
        <!--facebook box-->
        <aside class="facebook_box">
            <div class="facebook_box"></div>
        </aside>
        <!--ads box-->
        <aside class="ads_box">
            @Html.Action("BannerShow", "Banner", new { position = 22 })
        </aside>
        <!--tags box-->
        <aside class="tags_box">
            @Html.Action("HomePageTags","News")
        </aside>
    </article>
</section>