@model ThanhToanDiDong.Models.Payment.OrderModel
@{
    ViewBag.Title = "Kết quả giao dịch";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }
@if (ViewBag.Error == null)
{ 
    <h4>Thông tin đơn hàng của bạn</h4>
    <table class="table able-striped">
        <thead>
            <tr>
                <th>
                   Mã đơn hàng
                </th>
                <th>
                    Tên
                </th>
                <th>
                    Số điện thoại
                </th>
                <th>
                    Số tiền
                </th>
                <th>
                    Số lượng
                </th>
                <th>
                    Tổng tiền
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Id</td>
                <td>@Model.Name</td>
                <td>@Model.CustomerPhone</td>
                <td>@Model.Price</td>
                <td>@Model.Quantity</td>
                <td>@Model.TotalPrice</td>
            </tr>
        </tbody>

    </table>
}