@model List<Nop.Web.Models.Topics.TopicModel>
<div class="wrapper">
    <div class="frame">
        <table>
            <tbody>
                <tr>
                    <td colspan="4"><h3 class="pinkNarrowTitle">Tại sao bạn chọn mua và bán Nhà trên zHouse.com.vn?</h3></td>
                </tr>
                <tr>
                    <td>
                        <a href="t/tai-sao-mua-nha-tren-zhouse">
                            <img src="@Url.Content("~/Themes/Zhouse/Content/images/h1.png")" alt="Chỉ bán nhà có sổ hồng">
                        </a><br><br>
                        Chỉ bán nhà có sổ hồng
                    </td>
                    <td>
                        <a href="t/tai-sao-mua-nha-tren-zhouse">
                            <img src="@Url.Content("~/Themes/Zhouse/Content/images/h2.png")" alt="Thông tin đa dạng và đầy đủ">
                        </a><br><br>
                        Thông tin đa dạng và đầy đủ
                    </td>
                    <td>
                        <a href="t/tai-sao-mua-nha-tren-zhouse">
                            <img src="@Url.Content("~/Themes/Zhouse/Content/images/h3.png")" alt="Đội ngũ chuyên gia">
                        </a><br><br>
                        Đội ngũ chuyên gia
                    </td>
                    <td>
                        <a href="t/tai-sao-mua-nha-tren-zhouse">
                            <img src="@Url.Content("~/Themes/Zhouse/Content/images/h4.png")" alt="Sự tin tưởng">
                        </a><br><br>
                        Sự tin tưởng
                    </td>
                </tr>
            </tbody>
        </table>
        <br><br>
        <div class="intro">
            @Html.Action("HomePageNewsCate", "News")
            <div class="threeCol" style="margin: 0;float:right">
                <div class="whiteBgBig">
                    <ul>
                        @foreach (var i in Model)
                        {<li><a title="@i.Title" href="@Url.RouteUrl("Topic", new {SystemName=i.SystemName })">@i.Title</a></li>}
                    </ul>
                    <div class="nhonDown"></div>
                </div>
                <div class="pinkNarrowTitle"><h4>Dịch vụ</h4> </div>
            </div>
        </div>
    </div>
</div>