@model HomePageNewsItemsModel
@using Nop.Web.Models.News;
@if (Model.NewsItems.Count > 0)
{  
    <div class="news-list-homepage"> 
        <div class="news-items" id="news-list">
            @foreach (var item in Model.NewsItems)
            {
                <div class="item">
                    <div class="news-pic">
                        <a class="news-title" href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })">
                            <img fullpic="@item.DefaultPictureModel.FullSizeImageUrl" src="@item.DefaultPictureModel.ImageUrl" alt="@item.DefaultPictureModel.AlternateText" title="@item.DefaultPictureModel.Title" /></a>
                            @*<span class="news-date">@Html.Raw(item.CreatedOn.ToString("dd/mm</br>yyyy"))</span>*@
                    </div>                 
                    <div class="news-text">
                    <div class="news-head">
                        <a class="news-title" href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })">
                            @item.Title</a> 
                    </div>
                    <div class="news-details">
                        @Html.Raw(item.Short.TrimString(70))
                    </div>
                        </div>
                   <div class="clearfix"></div>
                </div>                
            }            
        </div>
    </div>    
    if(Model.NewsItems.Count>4)
    { 
    <script type="text/javascript">
        function get_request() {
            $('#news-list .item:first').hide(1000, function () {
                $(this).appendTo("#news-list")
                $(this).show(1000);
            });
          
            setTimeout(get_request, 5000);
        }
        get_request();
    </script>
}
}