@model TopMenuModel
@using Nop.Web.Models.Catalog;
@{
    var isRtl = this.ShouldUseRtlTheme();
}
@helper RenderCategoryLine(CategorySimpleModel category, int level)
{
    <li>
        <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })">
            @category.Name
        @if (category.NumberOfProducts.HasValue)
        {
            <text> </text>@T("Categories.TotalProducts", category.NumberOfProducts.Value)
        }
    </a>
    @{
        var levelClass = "";
        if (level == 0)
        {
            levelClass = "firstLevel";
        }
        <div class="sublist">
            <div class="menu-col" style="min-width:20%;max-width:40%">
                <p class="title">Theo địa điểm</p>
                <ul>                    
                        @foreach (var d in Model.Districts2){
                            <li style="width:40%"><a href="@GetSeName(Request.Url.Host, category.SeName, d.Value)">@d.Text</a></li>}                    
                </ul>
            </div>
            @if (category.SubCategories.Count > 0){ 
                <div class="menu-col" style="max-width:30%;min-width:20%">
                <p class="title">Theo loại</p>
                <ul>
                    @foreach (var subCategory in category.SubCategories)
                    {
                        <li><a href="@Url.RouteUrl("Category", new {SeName=subCategory.SeName })">@subCategory.Name</a></li>
                    }
                </ul>
            </div>
            }
            <div class="menu-col" style="max-width:29%;min-width:20%">
                <p class="title">Theo giá</p>
                <ul>
                    @foreach (var d in (category.Id == 16 ? Model.PriceRangeRent.Where(x => x.Value != "0-0").ToList() : Model.PriceRange.Where(x => x.Value != "0-0").ToList()))
                    {
                        <li><a href="@GetSeName(Request.Url.Host, category.SeName, null, null, d.Value, null)">@d.Text</a></li>
                    }
                </ul>
            </div>
        </div>
    }
</li>
}

<div id="top-menu" class="menu">
    <ul>
        @Html.Widget("header_menu_before")
        @if (Model.Categories.Count > 0)
        {
            foreach (var category in Model.Categories)
            {
                @RenderCategoryLine(category, 0)
            }
        }
        <li>
            <a href="#">Dịch vụ</a>
            <div class="top-menu-triangle"></div>
            <div class="sublist service" style="width:200px; margin-left:291px;">
                <ul>
                    @foreach (var i in Model.Topics)
                    {
                        <li><a title="@i.Value" href="~/t/@i.Value">@i.Text</a></li>
                    }
                </ul>
            </div>
        </li>
        <li>
            <a href="#">Kiến thức</a>
            <div class="top-menu-triangle"></div>
            <div class="sublist kienthuc" style="width:200px; margin-left:382px;">
                <ul>
                    @foreach (var c in Model.CategoriesNews)
                    {
                        <li><a href="@Url.RouteUrl("CateNews", new { SeName = c.Value })">@c.Text</a></li>
                    }
                </ul>
            </div>
        </li>

        @Html.Widget("header_menu_after")
    </ul>
</div>
<script type="text/javascript">
    $('#top-menu li[class!=verLine]').on('mouseenter', function () {
        $('a', $(this)).first().addClass('hover');
        if (!$('.sublist', $(this)).first().attr("not-resize") && !$(this).parent().hasClass('top-menu')) {
            var width = $(this).innerWidth();
            @*$('.sublist', $(this)).first().css('@(isRtl ? "right" : "left")', width -13);*@
        }
        $('.sublist', $(this)).first().addClass('active');
        $('.top-menu-triangle', $(this)).addClass('active');
    });
    $('#top-menu li[class!=verLine]').on('mouseleave', function () {
        $('a', $(this)).first().removeClass('hover');
        $('.sublist', $(this)).first().removeClass('active');
        $('.top-menu-triangle', $(this)).removeClass('active');
    });
</script>