@{
    Layout = "~/Views/Shared/_ColumnOne.cshtml";
}

<div class="head">
    <div class="container">
        <div class="search-head">
            <div class="box-search" style="float: right; margin-top: 20px; box-shadow: 0px 4px 10px #000;">
                <div class="box-head">
                    <img src="@Url.Content("~/Themes/ClickBay/Content/images/mouse.png")">
                    <span class="search-text">TÌM VÉ MÁY BAY</span>
                    <span>
                        <input type="radio" name="type"><label>Khứ hồi</label>
                        <input type="radio" name="type"><label>Một chiều</label>
                    </span>
                </div>
                <div class="box-content">
                    <div class="col">
                        <label>Điểm đi</label><br>
                        <input type="text" class="textbox"><br><br>
                        <label>Ngày đi</label><br>
                        <input type="datetime" class="textbox date">
                    </div>
                    <div class="col">
                        <label>Điểm đến</label><br>
                        <input type="text" class="textbox"><br><br>
                        <label>Ngày về</label><br>
                        <input type="datetime" class="textbox date">
                    </div>
                    <div class="clear"></div>

                    <div class="box-footer">
                        <span>
                            <label>Người lớn</label><br>
                            <input type="text" class="textbox">
                        </span>
                        <span>
                            <label>Trẻ em</label><br>
                            <input type="text" class="textbox">
                        </span>
                        <span>
                            <label>Trẻ sơ sinh</label><br>
                            <input type="text" class="textbox">
                        </span>
                        <span>
                            <input type="submit" class="btn-search" value="Tìm chuyến bay">
                        </span>
                    </div>

                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="top-sale">
            <div class="bl">
                <div class="name">HCM-HN</div>
                <div class="price">800.000 VNĐ</div>
            </div>
            <div class="bl">
                <div class="name">HCM-HN</div>
                <div class="price">800.000 VNĐ</div>
            </div>
            <div class="bl">
                <div class="name">HCM-HN</div>
                <div class="price">800.000 VNĐ</div>
            </div>
            <div class="bl">
                <div class="name">HCM-HN</div>
                <div class="price">800.000 VNĐ</div>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="sologan">CHẤT LƯỢNG DỊCH VỤ LÀ YẾU TỐ SỐNG CÒN</div>
    <div class="col2">
        <div class="box">
            <div class="box-h">
                <div class="box-t">
                    <img src="@Url.Content("~/Themes/ClickBay/Content/images/mouse.png")">
                    MỚI CLICK CHỜ BAY
                </div>
            </div>
            <div class="box-c">
                <div class="list-ticket">
                    <div class="row">
                        <div>Khách đặt vé máy bay <b>SG-HN</b> ngày 12/12/2014</div>
                        <div class="item-detail">
                            <span class="item-logo">
                                <img src="@Url.Content("~/Themes/ClickBay/Content/images/mouse.png")" width="50" height="50">
                            </span>
                            <span class="time">
                                1 giờ trước
                            </span>
                            <span class="price">
                                Giá: <b> 800.000 VNĐ</b>
                            </span>
                            <span class="detail-v">
                                <a>Chi tiết</a>
                            </span>
                        </div>
                    </div>

                    <div class="row">
                        <div>Khách đặt vé máy bay <b>SG-HN</b> ngày 12/12/2014</div>
                        <div class="item-detail">
                            <span class="item-logo">
                                <img src="@Url.Content("~/Themes/ClickBay/Content/images/mouse.png")" width="50" height="50">
                            </span>
                            <span class="time">
                                1 giờ trước
                            </span>
                            <span class="price">
                                Giá: <b> 800.000 VNĐ</b>
                            </span>
                            <span class="detail-v">
                                <a>Chi tiết</a>
                            </span>
                        </div>
                    </div>

                    <div class="row">
                        <div>Khách đặt vé máy bay <b>SG-HN</b> ngày 12/12/2014</div>
                        <div class="item-detail">
                            <span class="item-logo">
                                <img src="@Url.Content("~/Themes/ClickBay/Content/images/mouse.png")" width="50" height="50">
                            </span>
                            <span class="time">
                                1 giờ trước
                            </span>
                            <span class="price">
                                Giá: <b> 800.000 VNĐ</b>
                            </span>
                            <span class="detail-v">
                                <a>Chi tiết</a>
                            </span>
                        </div>
                    </div>

                    <div class="row">
                        <div>Khách đặt vé máy bay <b>SG-HN</b> ngày 12/12/2014</div>
                        <div class="item-detail">
                            <span class="item-logo">
                                <img src="@Url.Content("~/Themes/ClickBay/Content/images/mouse.png")" width="50" height="50">
                            </span>
                            <span class="time">
                                1 giờ trước
                            </span>
                            <span class="price">
                                Giá: <b> 800.000 VNĐ</b>
                            </span>
                            <span class="detail-v">
                                <a>Chi tiết</a>
                            </span>
                        </div>
                    </div>



                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-h">
                <div class="box-t">
                    <img src="@Url.Content("~/Themes/ClickBay/Content/images/mouse.png")">
                    ĐẶT VÉ NHANH 24/24
                </div>
            </div>
            <div class="box-c">
                <p class="green-text">Quý khách có thể mua vé máy bay bằng nhiều hình thức sau</p>

                <ul class="ht">
                    <li>
                        <b>1.</b>Trực tiếp trên clickbay.com.vn nhanh nhất và tiện nhất
                    </li>
                    <li>
                        <b>2.</b>Qua chát:<br>
                        Nội địa:<br>
                        Quốc tế:

                    </li>
                    <li>
                        <b>3.</b>Gọi điện thoại cho clickbay.com.vn <strong style="color:red">0939.448.124|0987446152</strong>

                    </li>
                    <li>
                        <b>4.</b>Đến trực tiếp văn phòng clickbay tại Sài Gòn <a>Xem bản đồ</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>

</div>
<div class="wrapper-body">
    <div class="wrapper-content">
        <section class="TicketConcession boder-dashed">
            <div class="nv-title">Nhượng vé - Clickbay cùng bạn tiết kiệm</div>
        </section>
        <section class="TicketConcession">
            <p class="" style="
    text-align: center;
    color: #189b96;
    font-size: 19px;
">
                Bạn đã mua vé nhưng không thể bay

                <a class="postitem" name="postitem">Đăng tin nhượng vé</a>
            </p>
        </section>

        <section class="TicketConcession">
            <div>
                <table class="table striped bordered hovered">
                    <thead>
                        <tr>
                            <th>Loại vé</th>
                            <th>Tên hành khách</th>
                            <th>Chặng bay</th>
                            <th>Ngày đi</th>
                            <th>Giá vé</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Jetstar thường</td>
                            <td>Do NGHI DI (có thể đổi tên)</td>
                            <td>Tp.Hồ Chí Minh - Hải Phòng</td>
                            <td>07/02/2015</td>
                            <td>1.000.000 VNĐ</td>
                            <td><a>Chi tiết</a></td>
                        </tr>
                        <tr>
                            <td>Jetstar thường</td>
                            <td>Do NGHI DI (có thể đổi tên)</td>
                            <td>Tp.Hồ Chí Minh - Hải Phòng</td>
                            <td>07/02/2015</td>
                            <td>1.000.000 VNĐ</td>
                            <td><a>Chi tiết</a></td>
                        </tr>
                        <tr>
                            <td>Jetstar thường</td>
                            <td>Do NGHI DI (có thể đổi tên)</td>
                            <td>Tp.Hồ Chí Minh - Hải Phòng</td>
                            <td>07/02/2015</td>
                            <td>1.000.000 VNĐ</td>
                            <td><a>Chi tiết</a></td>
                        </tr>
                        <tr>
                            <td>Jetstar thường</td>
                            <td>Do NGHI DI (có thể đổi tên)</td>
                            <td>Tp.Hồ Chí Minh - Hải Phòng</td>
                            <td>07/02/2015</td>
                            <td>1.000.000 VNĐ</td>
                            <td><a>Chi tiết</a></td>
                        </tr>
                        <tr>
                            <td>Jetstar thường</td>
                            <td>Do NGHI DI (có thể đổi tên)</td>
                            <td>Tp.Hồ Chí Minh - Hải Phòng</td>
                            <td>07/02/2015</td>
                            <td>1.000.000 VNĐ</td>
                            <td><a>Chi tiết</a></td>
                        </tr>
                        <tr>
                            <td>Jetstar thường</td>
                            <td>Do NGHI DI (có thể đổi tên)</td>
                            <td>Tp.Hồ Chí Minh - Hải Phòng</td>
                            <td>07/02/2015</td>
                            <td>1.000.000 VNĐ</td>
                            <td><a>Chi tiết</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>



