@model Nop.Web.Models.Catalog.ProductOverviewModel
<div class="introCol">
    <div class="product-title"><h2><a href="@Url.RouteUrl("Product", new { SeName = Model.SeName })" title="@Model.DefaultPictureModel.Title">@Model.Name</a></h2></div>
    <div>
        <div class="info-picture">
            <div class="vertical-div">
                @if (Request.IsAjaxRequest())
                {
                    <a href="@Url.RouteUrl("Product", new { SeName = Model.SeName })" title="@Model.DefaultPictureModel.Title">
                        <img alt="@(Model.DefaultPictureModel.AlternateText??Model.DefaultPictureModel.Title)" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" />
                    </a>
                }
                else
                {
                    <a href="@Url.RouteUrl("Product", new { SeName = Model.SeName })" title="@Model.DefaultPictureModel.Title">
                        <img class="lazy" data-original="@Model.DefaultPictureModel.ImageUrl" alt="@(Model.DefaultPictureModel.AlternateText??Model.DefaultPictureModel.Title)" title="@Model.DefaultPictureModel.Title" />
                    </a>
                }
            </div>
        </div>
        <div style="width:70%;float:left">
            <div class="whiteBgCata forRent">
                <span style="color:#c06"><i class="icon-price"></i>@Model.ProductPrice.Price</span>
                <span><i class="icon-area"></i>@Model.Area.ToString("0.##") m2</span>
                <span><i class="icon-category"></i>@Model.CateName</span>
                <span style="width:100%"><i class="icon-location"></i>@Model.DictrictName - Tp.Hồ Chí Minh</span>
            </div>
        </div>
    </div>
</div>