@model CategoryModel
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);

    var canonicalUrlsEnabled = EngineContext.Current.Resolve<SeoSettings>().CanonicalUrlsEnabled;
    if (canonicalUrlsEnabled)
    {
        var categoryUrl = Url.RouteUrl("Category", new { SeName = Model.SeName }, this.Request.Url.Scheme);
        Html.AddCanonicalUrlParts(categoryUrl);
    }
    var breadcrumbDelimiter = EngineContext.Current.Resolve<CommonSettings>().BreadcrumbDelimiter;
}
@using Nop.Core.Domain.Common;
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;
@using Nop.Web.Extensions;
@if (Model.DisplayCategoryBreadcrumb)
{
    <div class="breadcrumb">
        <ul>
            <li><a href="@Url.RouteUrl("HomePage")" title="@T("Categories.Breadcrumb.Top")">@T("Categories.Breadcrumb.Top")</a>
                <span class="delimiter">@breadcrumbDelimiter</span> </li>
            @foreach (var cat in Model.CategoryBreadcrumb)
            {
                var isLastCategory = cat.Id == Model.Id;
            <li>
                @if (isLastCategory)
                {
                    <strong class="current-item">@cat.Name</strong>
                }
                else
                {
                    <a href="@Url.RouteUrl("Category", new { SeName = cat.SeName })" title="@cat.Name">@cat.Name</a>
                    <span class="delimiter">@breadcrumbDelimiter</span>
                }
            </li>
            }
        </ul>
    </div>
}
<div class="page category-page">
    <div class="page-body">
        <div class="mainContent"></div>
        <div class="search-left leftContentTwist" style="width:70%">
            <div class="product-list" id="ListProduct">
                @if (Model.Products.Count > 0)
                {
                <div class="product-selectors">
                    @if (Model.PagingFilteringContext.AllowProductViewModeChanging && Model.Products.Count > 0)
                    {
                    <div class="product-viewmode">
                        <div class="pager">
                            @Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber").BooleanParameterName("as").BooleanParameterName("isc").BooleanParameterName("sid")
                        </div>
                    </div>
                    }
                    @if (Model.PagingFilteringContext.AllowProductSorting && Model.Products.Count > 0)
                    {
                    <div class="product-sorting">
                        @Html.DropDownList("products-orderby", Model.PagingFilteringContext.AvailableSortOptions, new { onchange = "setLocation(this.value);" })
                    </div>
                    }
                </div>
                    if(Model.Id!=16){
                    foreach (var product in Model.Products){
                        @Html.Partial("_ProductBox", product)
                    }}
                    else{
                        foreach (var product in Model.Products){
                            @Html.Partial("_ProductBoxRent", product)
                    }}
                <div class="clearBoth"></div>
                <div class="pager" style="margin-right:13px;margin-bottom:5px">
                    @Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber").BooleanParameterName("as").BooleanParameterName("isc").BooleanParameterName("sid")
                </div>}
                else{
                <div class=info-nopro>
                    <b style="color:#0094ff; margin-left:30px;">Chưa có tin đăng nào</b>                       
                </div>}
            </div>        
        </div>
        <div class="rightContentTwist" style="width:30%">
            @Html.Action("SearchBoxHead", "Catalog", new { isHome = true, isMarketPlace = true })
            <br />
            @Html.FptBanner(208)
        </div>
        <div class="clearfix"></div>       
    </div>
</div>