@using Nop.Core.Domain.Customers;
@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";
    bool isHome = Url.RequestContext.RouteData.Values["controller"].ToString().Equals("home", StringComparison.InvariantCultureIgnoreCase);
}
@Html.Widget("body_start_html_tag_after")
@if (!isHome)
{
    <div class="back-top" style="left: 50%; margin-left: 502px; top: 150px" id="divAdLeft">
        @Html.FptBanner(Position: 1)
    </div>
    <div class="back-top" style="right: 50%; margin-right: 502px; top: 150px" id="divAdRight">
        @Html.FptBanner(Position: 2)
    </div>
}
<div class="master-wrapper-page">
    @Html.Action("JavaScriptDisabledWarning", "Common")
    <div class="master-wrapper-content">
        <div class="top">
            <div class="wrapper">
                <div class="logo"><a href="@Url.RouteUrl("HomePage")"><img src="@Url.Content("~/Themes/Zhouse/Content/images/logo.png")" class="noborder" alt="Logo Zhouse.com.vn"></a></div>
                @Html.Action("TopMenu", "Catalog")
            </div>
            @if (WorkContext.CurrentCustomer.IsAdmin())
            {
                <div class="link-admin">
            <a href="@Url.Action("Products","Customer")">Quản trị</a>
                | <a href="@Url.RouteUrl("Logout")">Thoát</a></div>               
            }
        </div>
        @Html.Action("SearchBoxHead", "Catalog", new { isHome = isHome, categoryId=1 })
        @Html.Widget("content_before")
        <div class="ajax-loading-block-window" id="ajax-loading" style="display: none">
            <div class="loading-image">
            </div>
        </div>
        <div class="master-wrapper-main">
            @RenderBody()
            <div class="clearBoth"></div>            
        </div>
    </div>
    @Html.Action("Footer", "Common")
</div>
@Html.Widget("body_end_html_tag_before")
<div style="display:none" id="popup">
    
</div>
