@model List<Nop.Web.Models.Topics.TopicModel>
<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:700&subset=vietnamese' rel='stylesheet' type='text/css'>
<div class="wrapper">
    <div class="frame">
        <table>
            <tbody>
                <tr>
                    <td colspan="4"><h3 class="pinkNarrowTitle">CÔNG TY CỔ PHẦN ĐẦU TƯ & XÂY DỰNG HOA NGA</h3></td>
                </tr>
                <tr>
                    <td> 
                        <a href="t/mua-ban-nha-dat">
                            <img src="@Url.Content("~/Themes/Zhouse/Content/images/dich-vu-tu-van-mua-ban-nha-dat.jpg")" alt="Chỉ bán nhà có sổ hồng">
                        </a><br><br>
                        MUA BÁN NHÀ ĐẤT
</td>
                    <td>
                        <a href="t/xay-dung-dan-dung">
                            <img src="@Url.Content("~/Themes/Zhouse/Content/images/xay-dung-dan-dung.jpg")" alt="Thông tin đa dạng và đầy đủ"></a><br><br>
                        XÂY DỰNG DÂN DỤNG
</td>
                    <td>
                        <a href="t/thu-tuc-phap-ly">
                            <img src="@Url.Content("~/Themes/Zhouse/Content/images/thu-tuc-mua-nha-dat.jpg")" alt="Đội ngũ chuyên gia"></a><br><br>
                        THỦ TỤC PHÁP LÝ
</td>
                    @*<td>
                        <a href="t/tai-sao-mua-nha-tren-zhouse">
                            <img src="@Url.Content("~/Themes/Zhouse/Content/images/h4.png")" alt="Sự tin tưởng"></a><br><br>
                            Sự tin tưởng
</td>*@
                </tr>
            </tbody>
        </table>
        <br><br>
        @*<div class="intro">
            @Html.Action("HomePageNewsCate","News")
            <div class="threeCol" style="margin: 0;float:right">
                <div class="whiteBgBig">
                    <ul>
                        @foreach(var i in Model)
                        {
                            <li><a title="@i.Title" href="@Url.RouteUrl("Topic", new {SystemName=i.SystemName })">@i.Title</a></li> 
                        
                        }
                    </ul>
                    <div class="nhonDown"></div>
                </div>
                <div class="pinkNarrowTitle"><h4>Dịch vụ</h4> </div>
            </div>
        </div>*@
         <div class="clearBoth"></div>
            @*<div class="btn-bottom">
           <input type="button" onclick="setLocation('@Url.RouteUrl("InsertProduct")')" class="btn-rq" />
            <input  type="button" onclick="setLocation('@Url.RouteUrl("ProductSearch")')" class="btn-search"/>
            <div class="smallPinkText">Hơn <b>200</b>  căn hộ, căn nhà để bạn tìm kiếm và chọn lựa trên zHOUSE.com.vn</div>
        </div>*@
    </div>
</div>