@using Nop.Core.Domain.Customers;
<input type="text" id="startDate" name="startDate" placeholder="Từ ngày" title="Tìm từ ngày" style="width:157px"/>
<input type="text" id="endDate" name="endDate" placeholder="Đến ngày" title="Tìm đến ngày" style="width:157px" />
@Html.DropDownList("categoryId", new List<SelectListItem> {
    new SelectListItem { Text = "Loại giao dịch", Value = "0" },
    new SelectListItem { Text = "Bán nhà", Value = "1" },
     new SelectListItem { Text = "Thuê nhà", Value = "16" },
     new SelectListItem { Text = "Dự án", Value = "2" },
}, new {title="Loại giao dịch"})
@Html.DropDownList("statusEndDate", new List<SelectListItem> {
    new SelectListItem { Text = "Tình trạng", Value = "0" },
    new SelectListItem { Text = "Còn hạn", Value = "1" },
     new SelectListItem { Text = "Hết hạn", Value = "2" },
})
@Html.DropDownList("status", new List<SelectListItem> {
    new SelectListItem { Text = "Trạng thái kiểm duyệt", Value = "0" },
    new SelectListItem { Text = "Chờ duyệt", Value = "10" },
     new SelectListItem { Text = "Đã duyệt", Value = "20" },
     new SelectListItem { Text = "Không duyệt", Value = "30" },
}, new { title = "Trạng thái duyệt" })
@if(WorkContext.CurrentCustomer.IsAdmin()){
<select id="districtId" name="districtId" title="Tìm quận"><option value="0">Chọn quận</option></select>
<input type="text" value="" name="customerId" id="customerId" placeholder="Customer ID" title="Tìm customer ID" style="width:157px" />}
<input type="hidden" id="PageNumber" value="0" />
<input type="text" name="productId" id="productId" title="Tìm tin ID" placeholder="ID tin" style="width:157px" />
<input type="submit" name="searchProduct" id="searchProduct" class="blueBtn" value="tìm kiếm">
<label style="width:100%;float:left;padding-bottom:5px;">(*Chú ý: Nếu "ID tin" có dữ liệu sẽ ưu tiên tìm mã tin)</label>
<div class="clearBoth"></div>
<script type="text/javascript">
    $(document).ready(function () {
        var dllDistrict = $("#districtId");
        $.get("@Url.Action("GetDistrictsByStateProvinceIdAsync", "Common")", { id: 23 }, function (d) {
            $.each(d.Districts, function (i, o) {
                var option = $("<option/>").val(o.Id).text(o.Name);
                dllDistrict.append(option);
            })
        });
    });
    $(function () {
        $("#searchProduct").click(function () {
            var cusId = $("#customerId").val();
            if (cusId == "") cusId = 0;
            var data = {
                startDate:ConverDate($("#startDate").val()),
                endDate:ConverDate($("#endDate").val()),
                categoryId: $("#categoryId").val(),
                status: $("#status").val(),
                statusEndDate: $("#statusEndDate").val(),
                productId: $('#productId').val(),
                PageNumber: $('#PageNumber').val(),
                customerId: cusId,
                districtId: $("#districtId").val()
            };
            $("#product-list-cus").html("<div class=loading-img></div>");
            $.get("@Url.Action("Orders","Customer")", data, function (d) {
                $("#product-list-cus").replaceWith(d);
            })
            return false;
        })            
        $("#startDate").datepicker();
        $("#endDate").datepicker();        
    })    
</script>