@model CustomerOrderListModel
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
}
@using Nop.Web.Models.Customer;
@using Nop.Web.Extensions;
@section left
{
    @Html.Partial("MyAccountNavigation", Model.NavigationModel, new ViewDataDictionary())
}
<div class="page account-page order-list-page">
    <div class="page-title">
        <h1>@T("Account.MyAccount") - @T("Account.CustomerOrders")</h1>
    </div>
    <div class="page-body">
        @Html.Partial("_SearchBox")
        <div class="order-list load-ajax" id="product-list-cus" data-url="@Url.Action("Orders", "Customer")">
        </div>
      
        <script type="text/javascript">
            $(document).on("click","#pager-li li.individual-page a",function () {
                var page = parseInt($(this).text());
                $("#PageNumber").val(page);
                $("#searchProduct").click();
                return false;
            })
        </script>
    </div>
</div>