@model NewsItemModel
@using PlanX.Web.Models.News;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Title);
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);
}
<div class="wrapper-body">
    <div class="wrapper-content inline">
        <section class="section-top">
            <div class="breadcrumb">
                <p>
                    <a href="@Url.RouteUrl("Homepage")">@T("Homepage")</a>
                    <img src="~/Themes/ClickBay/Content/images/forward-icon.png" class="icon-small" />
                    <a href="@Url.RouteUrl("NewsArchive")">@T("News")</a>
                    <img src="~/Themes/ClickBay/Content/images/forward-icon.png" class="icon-small" />
                    <span class="active">@Model.Title</span>
                </p>
            </div>
        </section>
        <section class="section-left news-detail">
            <div class="news-title"><h1>@Model.Title</h1></div>
            <div class="info-small">
                <p><span class="time-small">@Model.CreatedOn.ToString("D")</span><span>Rẻ quá</span><span>@Model.Comments.Count Comment</span></p>
            </div>
            <div class="content-preview">
                <p>
                    @Html.Raw(Model.Full)
                </p>
            </div>
        </section>
        <section class="section-right-search section">
            <article>
                <aside class="search-box-small">
                    <div class="search-head">
                        <div class="box-search">
                            <div class="box-head">
                                <img src="~/Themes/ClickBay/Content/images/mouse.png" />
                                <span class="search-text">TÌM VÉ MÁY BAY</span>
                                <p>
                                    <span>
                                        <input type="radio" name="type" checked="checked" /><label>Khứ hồi</label>
                                        <input type="radio" name="type" /><label>Một chiều</label>
                                    </span>
                                </p>
                            </div>
                            <div class="box-content">
                                <div class="col">
                                    <label>Điểm đi</label>
                                    <input type="text" class="textbox" />
                                </div>
                                <div class="col">
                                    <label>Điểm đến</label>
                                    <input type="text" class="textbox" />
                                </div>
                                <div class="col">
                                    <label>Ngày đi</label>
                                    <input type="datetime" class="textbox date" />
                                </div>
                                <div class="col">
                                    <label>Ngày về</label>
                                    <input type="datetime" class="textbox date" />
                                </div>
                                <div class="clear"></div>
                                <div class="box-footer center">
                                    <span>
                                        <label>Người lớn</label>
                                        <input type="text" class="textbox center" />
                                    </span>
                                    <span>
                                        <label>Trẻ em</label><br />
                                        <input type="text" class="textbox center" />
                                    </span>
                                    <span>
                                        <label>Trẻ sơ sinh</label><br />
                                        <input type="text" class="textbox center" />
                                    </span>
                                </div>
                                <div class="center">
                                    <input type="submit" class="btn-search" value="Tìm chuyến bay" />
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
            </article>
            @Html.Action("HomePageNews", "News")
        </section>
    </div>
</div>

