@using Nop.Web.Models.Common
@model FptBannerShowModel
@if (Model.Banners.Count > 0)
{    
    foreach (var i in Model.Banners)
    {
        <div class="banner item_@i.Id">
        @if (i.BannerType == 1)
        { <a href="@i.Url" target="@i.Target" title="@i.Name">
            <img src="@i.PictureUrl" title="@i.Name" class="imgFull"/>
          </a>
        }
        else
        {
            @Html.Raw(i.Description)
        }
       </div>
    }
}
