@model IPagedList<PromotionEvent>
<div id="NormalView">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nội dung</th>
                <th>Ngày tạo</th>
                <th>Hiển thị</th>
                <th style="width:52px;"></th>
                <th style="width:52px;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                <tr id="item-@i.Id">
                    <td>@i.Id</td>
                    <td>@i.Description</td>
                    <td>@i.CreatedOn.ToString("dd-MM-yyyy")</td>
                    <td>@i.Published</td>
                    <td><a class="btn btn-link btn-xs" href="@Url.Action("Edit", new { id = i.Id })" role="button">Sửa</a></td>
                    <td><a class="btn btn-link btn-xs" onclick="Delete(@i.Id)" role="button">Xóa</a></td>
                </tr>
            }
        </tbody>
    </table>
    <div class="pagination pagination-centered span12">
        @Html.PagedListPager(Model, page => Url.Action("Paging", new { page }), new PagedListRenderOptions { LinkToFirstPageFormat = "Đầu", LinkToLastPageFormat = "Cuối", LinkToNextPageFormat = "Sau", LinkToPreviousPageFormat = "Trước", DisplayLinkToNextPage = PagedListDisplayMode.Always, DisplayLinkToPreviousPage = PagedListDisplayMode.Always })
    </div>
</div>
