@model PlanX.Web.Models.Common.ListBannerModel
@{
    Html.AddScriptParts("~/Scripts/jquery.flexslider.js");
    Html.AddCssFileParts("~/Themes/Zhouse/Content/flexslider.css");
}
<div id="slider" class="flexslider">
    <ul class="slides">
        @foreach (var i in Model.Banners)
        {
            <li>
                @if (i.BannerType == 1)
                {
                    <a href="@i.Url" target="@i.Target" title="@i.Title">
                        <img src="@i.PictureUrl" class="stretchImg" alt="@i.Title"/></a>}
                else
                {
                    <a href="@i.Url" target="@i.Target" title="@i.Title">@Html.Raw(i.Description)</a>
                }
            </li>
        }
    </ul>
</div>
<script type="text/javascript">
    $(window).load(function () {
        $('#slider').flexslider({
            animation: "fade",
            controlNav: false,
            randomize:true,
            directionNav:false
        });
    });    
</script>