@{
    Layout = "~/Views/Shared/_Header.cshtml";
} 
<div id="wrapper">
    <div id="header">
        <div class="language-select">
            <a class="thai @(Sankyo.Filters.Common.CurrentLanguageId!=1?" dis":"")"  onclick="ChangeLanguage(1)"></a>
            <a class="en" @(Sankyo.Filters.Common.CurrentLanguageId!=2?" dis":"")" onclick="ChangeLanguage(2)"></a>
            <script type="text/javascript">
                function ChangeLanguage(id)
                {
                    $.get("@Url.Action("ChangeLanguage","Home")", { id: id }, function (d) {
                        window.location.href = "/";
                    });
                    return false;
                }
            </script>
        </div>
        <div class="banner"></div>
      @Html.Action("Menu","Home")
    </div>
    <div id="page">
        @if(IsSectionDefined("onecol"))
        {
            <div class="content-center">
            @RenderSection("onecol")
                </div>
        }
        else{
      <div id="content-left">

 <div class="row-left">
    <a class="btnPorfilo">
       
    </a>
 </div>
     <div class="row-left">
    <a class="btnenviroment"></a>
 </div>
    <div class="row-left">
        <div class="intro">
           
        </div>
    </div>
    <div class="row-left">
        <embed style="width:150px; height:150px;" wmode="transparent" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" quality="high" src="http://panel.makewebeasy.com/template/_clock/swf/29.swf">
    </div>
       <div class="row-left">
    <div id="datepicker">
       
    </div>
            <script>

                $(function () {
                    $("#datepicker").datepicker();
                });

        </script>
    </div>
</div>
        
        <div id="content-right">
            @RenderBody()

        </div>
    <div class="clearBoth"></div>
        }
        
    </div>

    <div class="banner-footer"></div>
    <div class="copyright">  			Copyright by sankyo-asia.com		</div>
    <div id="footer">
        <div style="text-align:center"></div>
    </div>

</div>
    