@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Trang chủ";
}
<!-- Tab panes -->
<div class="tab-content">
   @Html.Action("PromotionNews","Home")
  <div class="tab-pane active" id="topup">
      @Html.Action("Topup","Payment")
  </div>
  <div class="tab-pane" id="card">
         @Html.Action("BuyCard","Payment")
  </div>
    <div class="tab-pane" id="game">
        @Html.Action("BuyCardGame", "Payment")
    </div>
    @*<div class="tab-pane" id="bill">
        @Html.Action("BuyCard", "Payment")
    </div>*@

</div>



