@model Nop.Web.Models.Catalog.ProductDetailsModel
  <table class="table-detail">
                        <tbody>
                            <tr>
                                <td >Tình trạng</td>
                                <td>@Model.Status</td>

                            </tr>
                             <tr>
                                <td >Loại hình:</td>
                                <td>@Model.CateName</td>

                            </tr>
                             <tr>
                                <td >Khu vực</td>
                                <td>@(Model.DistrictName??"-")</td>
                               
                            </tr>
                            <tr>
                                <td >Địa chỉ:</td>
                                <td>@(Model.FullAddress??"-")</td>
                            </tr>
                               <tr>
                                <td >Diện tích</td>
                                <td>@(!string.IsNullOrWhiteSpace(Model.Area) ? Model.Area +"m2": "-")  (@Model.Width.ToString("#.##") x @Model.Dept.ToString("#.##")) </td>
                            </tr>
                               <tr>
                                <td >Số tầng</td>
                                <td>@(Model.AreaUse > 0 ? Model.NumberFloors:"-")</td>
                            </tr>
                              
                            <tr>
                                <td >Chủ đầu tư:</td>
                                <td>@(Model.ChuDauTu??"-")</td>
                            </tr>
                            <tr>
                                 <td >ĐV Thi công:</td>
                                   <td>@(Model.Contructors??"-")</td>
                            </tr>
                             <tr>
                                <td >Khởi công:</td>
                                <td>@Model.StartConstructionDate </td>
                            </tr>
                               <tr>
                                <td >Hoàn thành:</td>
                                <td>@Model.FinishConstructionDate </td>
                            </tr>   

                            <tr>
                                <td >Tiện ích:</td>
                                <td>
                                    @if (Model.TienIch.Count > 0)
                                    {
                                       @Model.TienIch.Aggregate((a, b) => a + "," + b)
                                    }
                                    else
                                    { <text>-</text>}

                                </td>
                            </tr>
                                <tr>
                                    <td >Môi trường xung quanh</td>
                            
                                    <td>
                                                 @if (Model.Environments.Count > 0)
                                     {
                                        @Model.Environments.Select(x => x.Text).Aggregate((a, b) => a + "," + b)
                                     }
                                    else
                                    {
                                     <text>-</text>
                                     }</td>
                                </tr>
                            
                        </tbody>
                    </table>