@model NewsByTagModel
@using PlanX.Web.Extensions;
@using PlanX.Web.Models.News;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(Model.TagName);
    Html.AddMetaDescriptionParts(Model.TagName);
    Html.AddMetaKeywordParts(Model.TagName);
}
<section class="mainContent">
    <!--left-->
    <div class="mainContent_left">
        <div class="submenu">
            <a href="@Url.RouteUrl("HomePage")" class="button blue color_white" title="Trang chủ">Trang chủ</a>
            <a class="button grey2 tag-name" title="@Model.TagName">
                <img src="@Url.Content("~/themes/thanhtoandidong/content/images/ico-tag.png")" />
            <span>@Model.TagName</span></a>
        </div>
        @if (Model.NewsItems.Count > 0)
        {    
            <div class="tags-page">
            @foreach(var item in Model.NewsItems)   
            {
                @Html.Partial("_NewsItemBox", item)
            }
            </div>
            <div class="newsItem_Row">
                <div class="newsItem">
                    <div class="inside"><span><input type="button" class="default iscurrent" value="MỚI HƠN" title="Tin mới hơn" /></span></div>
                </div>
                <div class="newsItem">
                    <div class="inside"><span class="right"><input type="button" class="default" value="CŨ HƠN" title="Tin cũ hơn" /></span></div>
                </div>
            </div>
        }else
        {<div><p>Không tìm thấy tin.</p></div>}
    </div>
    <!--right-->
    <article class="mainContent_right">
        <!--hot view-->
        @Html.Action("HotView", "News")
        <!--ads box-->
        <aside class="ads_box">
            <div class="ads_box"></div>
        </aside>
        <!--hot view-->
        @Html.Action("MostView", "News")
        <!--ads box-->
        <aside class="ads_box">
            <div class="ads_box"></div>
        </aside>        
    </article>
</section>