@model IList<Nop.Web.Models.Customer.CustomerOrderListModel.ProductProfileModel>
<div class="order-list" id="product-list-cus">
    @if (Model.Count > 0)
    {
        foreach (var product in Model)
        {
            <div class="section order-item" id="item-@product.Id">
                @*<div class="title">
                        <strong>@T("Account.CustomerOrders.OrderNumber"): @product.Id (@product.Sku)</strong>
                    </div>*@
                <div class="product-hinh"><img src="@product.DefaultPictureModel.ImageUrl" alt="@product.DefaultPictureModel.AlternateText" title="Hình của @product.DefaultPictureModel.Title" /></div>
                <div class="product-content">
                    <p style="margin:0;line-height:normal"><a href="@Url.RouteUrl("Product", new { sename = product.Sename })" target="_blank" title="@product.Name" style="font-weight:700">@product.Name</a></p>
                    <div class="product-col1">
                        <p><span>ID: </span><span>@product.Id</span></p>
                        <p><span>Diện tích: </span><span>@product.Area</span></p>
                        <p><span>Giá: </span><span>@product.Price</span></p>
                    </div>
                    <div class="product-col1">
                        <p><span>Tình trạng: </span><span>@product.TinhTrang</span></p>
                        <p><span>Ngày đăng: </span><span>@(product.AvailableStartDateTimeUtc.HasValue ? product.AvailableStartDateTimeUtc.Value.ToString("dd/MM/yy hh:mm:ss") : "_")</span></p>
                        <p><span>Hết hạn: </span><span>@(product.AvailableEndDateTimeUtc.HasValue ? product.AvailableEndDateTimeUtc.Value.ToString("dd/MM/yy hh:mm:ss") : "_")</span></p>
                        @*<p><span>@product.BathRoom</span></p>
                        <p><span>@product.BedRoom</span></p>*@
                    </div>
                    @*<p><strong>Đăng: </strong><span>@product.CreatedOn.ToString("dd/MM/yy hh:mm:ss")</span> | <strong>Cập nhật: </strong><span>@product.UpdatedOn.ToString("dd/MM/yy hh:mm:ss")</span> | <strong>Hết hạn: </strong><span>@(product.ExpiredOn.HasValue ? product.ExpiredOn.Value.ToString("dd/MM/YY hh:mm:ss") : "_")</span></p>*@
                </div>
                <div class="side-3" style="width:19%;margin:0">
                    <div class="block block-account-navigation" style="margin-bottom:0">
                        <div class="title-1"><img src="~/Themes/Zhouse/Content/images/info-icon-19.png" title="Trạng thái duyệt" alt="info icon" />
                       <span id="status_@product.Id"> @product.TrangThaiDuyet</span>
                        </div>
                        <div class="title-1"><img src="~/Themes/Zhouse/Content/images/view-icon-17.png" title="Lượt xem" alt="view icon" />@product.ViewNumber</div>
                        <div class="listbox" style="padding-bottom:0;">
                            <ul class="list">
                                @if(product.ProductType == Nop.Core.Domain.Catalog.ProductType.SimpleProduct){
                                <li class="small"><a onclick="setLocation('@Url.RouteUrl("EditPostNews", new { id = product.Id })')">Sửa tin</a></li>}
                                @if (product.ProductType == Nop.Core.Domain.Catalog.ProductType.RentProduct){
                                    <li class="small"><a onclick="setLocation('@Url.RouteUrl("EditPostNewsRent", new { id = product.Id })')">Sửa tin</a></li>}
                                @if (product.ProductType == Nop.Core.Domain.Catalog.ProductType.ProjectProduct){
                                    <li class="small"><a onclick="setLocation('@Url.RouteUrl("EditPostNewsProject", new { id = product.Id })')">Sửa tin</a></li>}                                                                                                                                                         
                                <li class="small" id="publish-@product.Id"><a onclick="updateNew(@product.Id,1,0)">Ngừng đăng tin</a></li>
                                <li class="small"><a onclick="updateNew(@product.Id,2,0)">Xóa tin</a></li>
                                <li class="small"><a onclick="updateNew(@product.Id,3,0)">Làm mới tin</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                @*<div class="buttons" style="float:left;max-width:200px">
                        <label>@product.TrangThaiDuyet | Lượt Xem: @product.ViewNumber</label>
                        <a onclick="setLocation('@Url.RouteUrl("EditProduct", new { id = product.Id })')">Sửa tin</a>
                        <input type="button" value="Ngừng Đăng Tin" class="blueBtn" onclick="setLocation('@Url.RouteUrl("EditProduct", new { id = product.Id })')" />
                        <input type="button" value="Xóa Tin" class="blueBtn" onclick="setLocation('@Url.RouteUrl("EditProduct", new { id = product.Id })')" />
                        <input type="button" value="Làm Mới Tin" class="blueBtn" onclick="setLocation('@Url.RouteUrl("EditProduct", new { id = product.Id })')" />
                    </div>*@
            </div>
        }
         <script type="text/javascript">
                            function updateNew(id,action,value)
                            {
                                $.post("@Url.Action("UpdateProductAsync", "Catalog")", { productId: id, action: action, value: value }, function (d) {
                                    alert(d);
                                    if(action==1)
                                    {
                                        var status = "Ngừng đăng tin";
                                       
                                        if (value == 1) {
                                            status = "Tin đang đăng";
                                            $("#publish-" + id).html('<a onclick="updateNew('+id+',1,0)">Ngừng đăng tin</a>');
                                        }
                                        else
                                            $("#publish-" + id).html('<a onclick="updateNew(' + id + ',1,1)">Đăng tin</a>');
                                            $("#status_" + id).html(status);
                                        
                                            
                                    }
                                    if(action==2)
                                    {
                                        $("#item-" + id).hide("slow");
                                        $("#item"+id).remove();
                                    }
                                })
                            }

                        </script>
                       
    }
    else
    {
        @T("Account.CustomerOrders.NoOrders")
    }
</div>