@model BookingInfoFlightModel
@{
    var codeFees = new List<KeyValuePair<string, string>>();
    string departTime="", departDate="", landingTime="", landingDate="";
    if (Model != null)
    {
        codeFees = Model.BookingPriceDetailsModel.Select(x => new { x.CodeFee, x.Description }).Distinct().ToList().Select(d =>
        {
            return new KeyValuePair<string, string>(d.CodeFee, d.Description);
        }).ToList();

        if (Model.DepartDateTime.HasValue)
        {
            departDate = Model.DepartDateTime.Value.ToString("dd-MM-yyyy");
            departTime = Model.DepartDateTime.Value.ToString("HH:mm");
        }
        if (Model.ArrivalDateTime.HasValue)
        {
            landingDate = Model.ArrivalDateTime.Value.ToString("dd-MM-yyyy");
            landingTime = Model.ArrivalDateTime.Value.ToString("HH:mm");
        }
    }
    var i = 0;
}
@if (Model != null)
{
    <table class="adminContent">
        <tbody>
            <tr>
                <td class="adminTitle bold600">
                    Hãng hàng không:
                </td>
                <td>@Model.BrandName (@Model.FlightNumber)</td>
            </tr>
            <tr>
                <td class="adminTitle" style="width:235px"><span class="bold600">Nơi đi:</span> @Model.FromPlaceName</td>
                <td><span class="bold600">Nơi đến:</span> @Model.ToPlaceName</td>
            </tr>
            <tr>
                <td><span class="bold600">Thời gian đi:</span><span style="padding:0 10px;">@departTime</span><span>@departDate</span></td>
                <td><span class="bold600">Thời gian đến:</span><span style="padding:0 10px;">@landingTime</span><span>@landingDate</span></td>
            </tr>
            <tr>
                <td class="bold600">Số lượng hành khách:</td>
                <td>@(Model.Adult == 0 ? "" : string.Format("{0} người lớn", Model.Adult)) @(Model.Child == 0 ? "" : string.Format(" , {0} trẻ em", Model.Child)) @(Model.Infant == 0 ? "" : string.Format("  , {0} trẻ sơ sinh", Model.Infant))</td>
            </tr>
            <tr>
                <td><span class="bold600">Loại vé:</span> @Model.TicketType</td>
            </tr>
            <tr>
                <td colspan="2"><span class="bold600">PRN Code:</span> <input type="text" name="txtPRNCode" id="txtPRNCode" value="@Model.PRNCode" /><input type="submit" name="btnPRNCode" value="Cập nhật" class="adminButton"/></td>
            </tr>
            <tr>
                <td><span class="bold600">Id booking:</span> </td>
            </tr>
            <tr class="adminSeparator"><td colspan="2"></td></tr>
            <tr>
                <td colspan="2">
                    <table class="adminPrice">
                        <tbody>
                            @foreach (var codeFee in codeFees)
                            {
                                <tr>
                                    <td colspan="3" class="bold600 textLeft">
                                        @codeFee.Value (@codeFee.Key)
                                    </td>
                                </tr>
                                foreach (var price in Model.BookingPriceDetailsModel.Where(x => x.CodeFee == codeFee.Key).ToList())
                                {
                                    <tr>
                                        <td class="textLeft" style="min-width:100px;padding-left:30px;">
                                            @T("passertype." + price.PassengerType)
                                        </td>
                                        <td>
                                            @price.Quantity x @price.Price.ToString("#,0")
                                        </td>
                                        @*<td>
                                            @price.Price.ToString("#,0")
                                        </td>*@
                                        <td>
                                            @price.TotalPrice.ToString("#,0")
                                        </td>
                                    </tr>
                                }
                            }
                            <tr>
                                <td colspan="3" class="bold600 textLeft">Phí hành lý</td>
                            </tr>
                            @foreach (var bag in Model.BookingBaggagesModel.Where(x=> !x.IsFree).ToList())
                            {
                                i++;
                                <tr>
                                    <td class="textLeft" style="padding-left:30px;">
                                        Hành khách @i.ToString()
                                    </td>
                                    <td>
                                        @bag.Baggage.ToString("#,0") kg (@bag.BaggageFee.ToString("#,0") vnd)
                                    </td>
                                    @*<td>
                                        
                                    </td>*@
                                    <td>
                                        @bag.BaggageFee.ToString("#,0")
                                    </td>
                                </tr>}
                            <tr>
                                <td colspan="2" class="bold600">Tổng (vnd)</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="2" class="bold600 textRight">Tổng giá: </td>
                                <td class="bold600">@Model.TotalPrice.ToString("#,0")</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="bold600 textRight">Tổng phí & thuế: </td>
                                <td class="bold600">@((Model.TotalFee + Model.TotalTax + Model.TotalFeeOther).ToString("#,0"))</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="bold600 textRight">Tổng phí hành lý: </td>
                                <td class="bold600">@Model.TotalBaggageFee.ToString("#,0")</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="bold600 textRight">Giảm giá: </td>
                                <td class="bold600">@((Model.DiscountAmount).ToString("#,0"))</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="bold600 textRight">Tổng cộng: </td>
                                <td class="bold600">@((Model.TotalPrice + Model.TotalFee + Model.TotalTax + Model.TotalFeeOther + Model.TotalBaggageFee - Model.DiscountAmount).ToString("#,0"))</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>}
else
{
    <span>Không có dữ liệu chuyến bay</span>
}