@model ArilinesBaggageConditionModel
@{
    //page title
    ViewBag.Title = "Sửa chi tiêt điều kiện hành lý";
}
@using (Html.BeginForm("AirlineBaggageConditionEdit", "ClickBay", FormMethod.Post, new { id = "baggage-form" }))
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-catalog.png")" alt="" />
            Sửa chi tiêt điều kiện hành lý - @Model.Id @Html.ActionLink("(" + T("Admin.Catalog.Categories.BackToList") + ")", "AirlineBaggageConditionList")
        </div>
        <div class="options">            
            <input type="submit" name="save" class="t-button" value="@T("Admin.Common.Save")" />
            <input type="submit" name="save-continue" class="t-button" value="@T("Admin.Common.SaveContinue")" />
            <span id="baggage-delete" class="t-button">@T("Admin.Common.Delete")</span>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdateBaggageCondition", Model)
}
@Html.DeleteConfirmation("AirlineBaggageConditionDelete", "baggage-delete")