@{
    Layout = "~/Views/Shared/_ColumnOne.cshtml";
}

<div class="head">
    <div class="container">
        <div class="search-head">
            <div class="box-search" style="float: right; margin-top: 20px; box-shadow: 0px 4px 10px #000;">
             @Html.Action("SearchBox","ClickBay")
            </div>
        </div>
        <div class="clear"></div>
        <div class="top-sale">
            <div class="bl">
                <div class="name">HCM-HN</div>
                <div class="price">800.000 VNĐ</div>
            </div>
            <div class="bl">
                <div class="name">HCM-HN</div>
                <div class="price">800.000 VNĐ</div>
            </div>
            <div class="bl">
                <div class="name">HCM-HN</div>
                <div class="price">800.000 VNĐ</div>
            </div>
            <div class="bl">
                <div class="name">HCM-HN</div>
                <div class="price">800.000 VNĐ</div>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="sologan">CHẤT LƯỢNG DỊCH VỤ LÀ YẾU TỐ SỐNG CÒN</div>
    <div class="col2">
        <div class="box">
            <div class="box-h boder-dashed">
                <div class="box-t">
                    <img src="@Url.Content("~/Themes/ClickBay/Content/images/mouse.png")">
                    MỚI CLICK CHỜ BAY
                </div>
            </div>
            <div class="box-c">
                <div class="list-ticket">
                    <div class="row">
                        <div>Khách đặt vé máy bay <b>SG-HN</b> ngày 12/12/2014</div>
                        <div class="item-detail">
                            <span class="item-logo">
                                <img src="@Url.Content("~/Themes/ClickBay/Content/images/mouse.png")" width="50" height="50">
                            </span>
                            <span class="time">
                                1 giờ trước
                            </span>
                            <span class="price">
                                Giá: <b> 800.000 VNĐ</b>
                            </span>
                            <span class="detail-v">
                                <a>Chi tiết</a>
                            </span>
                        </div>
                    </div>

                    <div class="row">
                        <div>Khách đặt vé máy bay <b>SG-HN</b> ngày 12/12/2014</div>
                        <div class="item-detail">
                            <span class="item-logo">
                                <img src="@Url.Content("~/Themes/ClickBay/Content/images/mouse.png")" width="50" height="50">
                            </span>
                            <span class="time">
                                1 giờ trước
                            </span>
                            <span class="price">
                                Giá: <b> 800.000 VNĐ</b>
                            </span>
                            <span class="detail-v">
                                <a>Chi tiết</a>
                            </span>
                        </div>
                    </div>

                    <div class="row">
                        <div>Khách đặt vé máy bay <b>SG-HN</b> ngày 12/12/2014</div>
                        <div class="item-detail">
                            <span class="item-logo">
                                <img src="@Url.Content("~/Themes/ClickBay/Content/images/mouse.png")" width="50" height="50">
                            </span>
                            <span class="time">
                                1 giờ trước
                            </span>
                            <span class="price">
                                Giá: <b> 800.000 VNĐ</b>
                            </span>
                            <span class="detail-v">
                                <a>Chi tiết</a>
                            </span>
                        </div>
                    </div>

                    <div class="row">
                        <div>Khách đặt vé máy bay <b>SG-HN</b> ngày 12/12/2014</div>
                        <div class="item-detail">
                            <span class="item-logo">
                                <img src="@Url.Content("~/Themes/ClickBay/Content/images/mouse.png")" width="50" height="50">
                            </span>
                            <span class="time">
                                1 giờ trước
                            </span>
                            <span class="price">
                                Giá: <b> 800.000 VNĐ</b>
                            </span>
                            <span class="detail-v">
                                <a>Chi tiết</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-h boder-dashed">
                <div class="box-t">
                    <img src="@Url.Content("~/Themes/ClickBay/Content/images/mouse.png")">
                    ĐẶT VÉ NHANH 24/24
                </div>
            </div>
            <div class="box-c">
                <p class="green-text">Quý khách có thể mua vé máy bay bằng nhiều hình thức sau</p>

                <ul class="ht">
                    <li>
                        <b>1.</b>Trực tiếp trên clickbay.com.vn nhanh nhất và tiện nhất
                    </li>
                    <li>
                        <b>2.</b>Qua chát:<br>
                        Nội địa:<br>
                        Quốc tế:

                    </li>
                    <li>
                        <b>3.</b>Gọi điện thoại cho clickbay.com.vn <strong style="color:red">0939.448.124|0987446152</strong>

                    </li>
                    <li>
                        <b>4.</b>Đến trực tiếp văn phòng clickbay tại Sài Gòn <a>Xem bản đồ</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>

</div>
<div class="wrapper-body">
    <div class="wrapper-content">
        <section class="TicketConcession boder-dashed">
            <div class="nv-title">Nhượng vé - Clickbay cùng bạn tiết kiệm</div>
        </section>
        <section class="TicketConcession">
            <p class="center">
                <span class="home-title">Bạn đã mua vé nhưng không thể bay</span>
                <a class="postitem" name="postitem">Đăng tin nhượng vé</a>
            </p>
        </section>

        <section class="TicketConcession">
            <div class="load-ajax" data-url="@Url.Action("List", "TicketConcession", new { PageSize = 5, Page=1 })">
            </div>
        </section>
    </div>
</div>



