@model BookingModel
<article>
    <h2>Điều Kiện Giá Vé</h2>
    <div class="div-table condition-price">
        @foreach(var i in Model.BookingInfoConditions)
        {
           
          <div class="div-table-row">
            <div class="div-table-cell"><span>@i.ConditionType</span></div>
            <div class="div-table-cell"><p>@i.ConditionDescription</p></div>
        </div>
        }
       
    </div>
</article>

<article>
    <h2>Thông Tin Hành Lý</h2>
    <div class="div-table info-baggage">
        <div class="div-table-row">
            <div class="div-table-cell"><span>Hành lý chiều đi</span></div><div class="div-table-cell"></div>
        </div>
        @foreach(var i in Model.TicketInfo.AirlinesConditions)
        { 
        <div class="div-table-row">
            <div class="div-table-cell"><span class="normal">@i.ConditionName</span></div><div class="div-table-cell">@i.ConditionDescription</div>
        </div>
        }
      
        <div class="div-table-row">
            <div class="div-table-cell"><span>Hành lý chiều về</span></div><div class="div-table-cell"></div>
        </div>
        @foreach (var i in Model.TicketInfoReturn.AirlinesConditions)
        {
            <div class="div-table-row">
                <div class="div-table-cell"><span class="normal">@i.ConditionName</span></div><div class="div-table-cell">@i.ConditionDescription</div>
            </div>
        }
    </div>
</article>
