@model PlanX.Web.Models.ClickBay.SearchModel
@if(Model.Tickets.Count==0)
{
    <p>Không tìm thấy kết quả</p>
}
else{

    <div class="bordered">
        <table class="table none-border pointer main-background">
            <thead>
                <tr>
                    @{
                        DateTime startDate=Model.SearchDate.AddDays(-3);
                         
                        for (int i = 0; i < 6;i++ )
                        {
                            var date = startDate.AddDays(i);
                        <th @(i==3?"class=active":"")><p>@date.DayOfWeek.ToString()</p><p>@date.ToString("dd-MM-yyyy")</p></th>
                         
                    
                          
                        }
                    }
                    
                </tr>
            </thead>
        </table>
        <table class="orange none-border" id="tblTicket">
            <tbody>
                @foreach(var item in Model.Tickets)
                { 
                <tr id="ticketChecked_@item.Index">
                    <td>@item.BrandCode</td>
                    <td>@item.FlightNumber</td>
                    <td class="big-font" id="">@item.DepartTime.ToString("hh:mm") - @item.LandingTime.ToString("hh:mm")</td>
                    <td class="big-font">@item.Price.ToString("#,##")</td>
                    <td class="currency">@item.Currency</td>
                    <td><a onclick="showDetail(@item.Index)">Chi tiết<img src="@Url.Content("~/Themes/ClickBay/content/images/plus-icon.png")" class="icon-small"></a>
                  
                    </td>
                    <td ><input type="radio"  name="ticketChecked" value="@item.Index"></td>
                </tr>
                    <tr id="detail_@item.Index" style="display:none">
                       
                    </tr>
                }
               
            </tbody>
        </table>
        <input type="button" value="Tiếp tục" class="default" id="btnContinue" onclick="selectTicket()" name="btnContinue">
    </div>
 <input type="hidden" value="@Model.SessionId" id="sessionid" />
  <script>
      function showDetail(id)
      {
          var table = $("#detail_" + id);
        
          if (!table.attr('show')) {
             
              $.get("@Url.Action("GetTicketDetail")", { sessionId: $("#sessionid").val(), index: id }, function (d) {
                  table.html("<td colspan='7'>"+d+"</td>");
                  table.show('slow');
                  table.attr('show', '1');
              });
          }
          else {
              if (table.is(":hidden"))
                  table.show('slow');
              else
                  table.hide('slow');
          }
         
      }
      function selectTicket()
      {
          var selectRadion=$("input[name=ticketChecked]:checked");
          if(!selectRadion)
              alert("Vui lòng chọn vé!");
          else
          {
              displayAjaxLoading(true);
              $.post("@Url.Action("SelectedTicket")", { index: selectRadion.val(), session: $("#sessionid").val(),adult:@Model.Adult,child:@Model.Child,iflant:@Model.Flant }, function (d) {
                  if (d == "OK")
                      window.location.href = '@Url.Action("Booking")';
                  displayAjaxLoading(false);
              }).error(function () {
                  alert("Loi sever");
                  displayAjaxLoading(false);
              })
          }
      }
  </script>
}
