@model BookingModel
@{
    ViewBag.Title = "Đặt vé thành công";
    Layout = "~/Views/Shared/_ColumnTwo.cshtml";
}

@section top
{
    @Html.Partial("_BreadCrumb", new Dictionary<string, string> {
            {"Tìm kiếm",""},
             {"Chọn chuyến bay",""},
              {"Thanh toán",""},
               {"Xác nhận",""},

        })
}

@Html.Partial("_FlightDetail", Model)
@Html.Partial("_FlightCondition", Model)

<article>
    <h2>Thông Tin Hành Khách</h2>
    <div class="div-table info-passenger">
        <div class="div-table-row">
            <div class="div-table-cell col-1"><span>Hành khách</span></div>
            <div class="div-table-cell col-2"><span>Quý danh</span></div>
            <div class="div-table-cell col-3"><span>Họ và Tên <span class="info-small">( ví dụ: VO TAN DUNG )</span></span></div>
            <div class="div-table-cell col-4"><span>Ngày sinh <span class="info-small">( ví dụ: 30/01/1987 )</span></span></div>
        </div>
        @{int count = 0;}
        @foreach (var i in Model.BookingPassers)
        {
            <div class="div-table-row">

                <div class="div-table-cell">

                    <label>@T("pasertype."+(((PlanX.Core.Domain.ClickBay.PasserType)i.PassserType).ToString()))</label>
                </div>
                <div class="div-table-cell">@Html.DisplayTextFor(x => x.BookingPassers[count].FirstName)</div>
                @if (i.PassserType > 4)
                {
                    <div class="div-table-cell birthday">
                       
                        @Html.DisplayTextFor(x=>x.BookingPassers[count].BirthDay)


                    </div>
                }
            </div>
                count++;
        }
    </div>
</article>

<article>
    <h2>Thông Tin Người Liên Hệ</h2>
   
    <aside>
        <div class="div-table info-contact">
            <div class="div-table-row">
                <div class="div-table-cell haft">
                    <div class="div-table-cell">
                        <span>Quý Danh</span>
                        <<label>@T("pasertype." + (((PlanX.Core.Domain.ClickBay.PasserType)Model.ContactPassengerType).ToString()))</label>
                    </div>
                    <div class="div-table-cell">
                        <span>Họ và Tên </span>
                        @Html.DisplayTextFor(x => x.ContactName)


                    </div>
                </div>
                
            </div>
            <div class="div-table-row">
                <div class="div-table-cell">
                    <div>
                        <span>Số điện thoại </span>
                        @Html.DisplayTextFor(x => x.ContactPhone)
                    </div>
                </div>
                <div class="div-table-cell">
                    <div>
                        <span>Thành phố</span>
                        @Html.DisplayTextFor(x => x.ContactCityName)
                    </div>
                </div>
            </div>
            <div class="div-table-row">
                <div>
                    <div class="div-table-cell">
                        <span>Email</span>
                        @Html.DisplayTextFor(x => x.ContactEmail)
                    </div>
                </div>
                <div class="div-table-cell">
                    <div>
                        <span>Địa chỉ</span>@Html.DisplayTextFor(x => x.ContactAddress)
                    </div>
                </div>
            </div>
            @if(Model.ContactBirthDate!=null)
            { 
            <div class="div-table-row">
                <div class="div-table-cell">
                    <div class="div-table">
                        <div class="div-table-row birthday">
                            <span>Ngày sinh</span><br />
                          @Html.DisplayTextFor(x=>x.ContactBirthDate)

                        </div>
                    </div>
                </div>
                <div class="div-table-cell"></div>
            </div>
            }
        </div>
    </aside>
   
</article>
@if(Model.CustomerNote!=null)
{ 
<article>
    <!--Yeu cau dac biet-->
    <h2>Yêu Cầu Đặt Biệt</h2>    
    <div>
        @Html.DisplayTextFor(x => x.CustomerNote)
    </div>
</article>
}

<article>
    <!--Yeu cau dac biet-->
    <h2>Phương thức thanh toán</h2>
   

    <div class="div-table-row">
       @if(Model.PaymentMethodId==1)
       {
           @("Thanh toán khi giao vé tận nhà")
       }
       else if(Model.PaymentMethodId==2)
       {
           @("Thanh toán qua chuyển khoản ATM")
       }
       else if(Model.PaymentMethodId==3)
       {
           @("Thanh toán qua OnePay")
       }
       else
       {
           @("Thanh toán tại văn phòng clickbay")
       }
       


    </div>
</article>

