@model ProductOverviewModel
@using Nop.Core.Domain.Orders
@using Nop.Web.Models.Catalog;
@{
   
}


<div class="introColRight" style="margin-right:15px">
                	<div class="new"></div>
                	<div class="nhonRight"></div>
					<div class="pinkTagRight">@Model.ProductPrice.Price</div>
                     <a href="@Url.RouteUrl("Product", new { SeName = Model.SeName })" title="@Model.DefaultPictureModel.Title">
            <img  alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" />
        </a>
                    <div class="whiteBgRight"><a href="@Url.RouteUrl("Product", new { SeName = Model.SeName })" title="@Model.DefaultPictureModel.Title">@Model.Name</a></div>
                    <div class="whiteBgCata">@Model.CateName</div>
                    @if(!string.IsNullOrWhiteSpace(Model.Status))
                    {  
                      <div class="whiteBgCata">@Model.Status</div>                    }
                  
                    <div class="whiteBgCata">@Model.Area m2</div>
                    @if(!string.IsNullOrWhiteSpace(Model.NumberBlock))
                    {
                    <div class="whiteBgCata">@Model.NumberBlock</div>
                    }
                    <div class="whiteBgCata shortdes">@Html.Raw(Model.ShortDescription.TrimString(100))</div>
                </div>


