@model ProductOverviewModel
@using Nop.Core.Domain.Orders
@using Nop.Web.Models.Catalog;
@{
   
}


<a href="@Url.RouteUrl("Product", new { SeName = Model.SeName })" title="@Model.DefaultPictureModel.Title">
    <div class="introCol">
        <div class="info-picture">
            <div class="new"></div>
            <div class="nhon"></div>
            <div class="pinkTag">@Model.ProductPrice.Price</div>
            <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" />
        </div>
        <div class="whiteBg p-name">@Model.Name</div>
        <div class="whiteBgCata">@Model.DictrictName - @Model.CateName - @Model.Area.ToString("#") m2 - @Model.NumBedRoom - @Model.NumBadRoom - Hướng @Model.Directors</div>

    </div>
</a>