@model ProductOverviewModel
@using Nop.Core.Domain.Orders
@using Nop.Web.Models.Catalog;
@{
   
}
<div class="product-item" data-productid="@Model.Id">
    <div class="picture">
        <a href="@Url.RouteUrl("Product", new { SeName = Model.SeName })" title="@Model.DefaultPictureModel.Title">
            <img width="100" height="100" alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" />
        </a>
    </div>
    <div class="details">
        <h2 class="product-title">
            <a href="@Url.RouteUrl("Product", new { SeName = Model.SeName })">@Model.Name</a>
        </h2>
       <div class="d">
           <div class="col-left">
               <p>ID:@Model.Id</p>
               <p>Diện tích: @Model.Area</p>
               <p><b>Giá:@Model.ProductPrice.Price</b></p>
               
           </div>
           <div class="col-right">
               <p>Tình trạng:@Model.Status</p>
               <p>@Model.NumBadRoom</p>
               <p>@Model.NumBedRoom</p>
               
           </div>
           
           <div class="clearfix">
              
           </div>
            <p>@Model.ShortDescription</p>
       </div>
    </div>
</div>
