@model Nop.Web.Models.Catalog.ProductDetailsModel
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);
    Html.AppendScriptParts("~/Scripts/tab.js");
    Html.AppendScriptParts("~/Scripts/jquery.simplemodal.js");
    Html.AddScriptParts("~/Scripts/jquery.flexslider.js");
    Html.AddCssFileParts("~/Themes/Zhouse/Content/flexslider.css");  
}
@Html.Action("ProductBreadcrumb", "Catalog", new { productId = Model.Id })

        <div class="mainContent">
            <div class="leftContent">
                <div class="whiteBgLeft">
                    <div class="blueTitle"><h1>@Model.Name</h1></div>
                    @if(!Model.IsProject)
                    {
                        <text>
                    ID: @Model.Id
                    <div class="pinkPrice">@Model.ProductPrice.Price</div>
                    Tình trạng: <a class="blueText"> <b>@Model.ProductStatusText</b></a>
                    </text>
                    }
                    <div class="share" id="share-div">
                        <script >
                            $.get("@Url.Action("ShareButton")",function(d){
                                $("#share-div").html(d);
                            })
                        </script>
                </div><!---whiteBgLeft----->
                    </div>
                <div class="detailTable">
                    <div class="detail-info">
                        @if(Model.IsProject)
                        {
                         @Html.Partial("_ProductSpecficationOptionProject",Model)
                        }
                        else
                        {
                          @Html.Partial("_ProductSpecficationOptionHouse", Model)
                        }
                    </div>
                    <div class="detail-picture" id="detail-picture">
                   
                    </div>
                       <script>
                           $(function(){
                               $("#detail-picture").html("<div class='please-wait'></div>").load("@Url.Action("GetProductImages", new { productId = Model.Id })",function(d){
                               
                                   $('#carousel').flexslider({
                                       animation: "slide",
                                       controlNav: false,
                                       animationLoop: false,
                                       slideshow: false,
                                       itemWidth: 80,
                                       itemMargin: 5,
                                       asNavFor: '#slider-detail'
                                   });
                                   $('#slider-detail').flexslider({
                                       animation: "slide",
                                       controlNav: false,
                                       animationLoop: false,
                                       slideshow: false,
                                       sync: "#carousel"
                                   });
                               })
                           })
                      </script>
                 <div class="clearfix"></div>
                </div><!----detailTable---->

                <div class="floatLeft">
                    <center>
                        <input type="button" onclick="setLocation('@Url.RouteUrl("AddProductToCompare", new { productId = Model.Id })')" class="blueBtn" value="so sánh">
                        <input type="button" class="blueBtn" onclick="sendMailFriend()" value="gửi email">
                        <input type="button" class="blueBtn" value="in ra" onclick="window.print()">
                        <input type="button" class="blueBtn" value="download pdf">
                    </center>
                </div><!---floatLeft-------------->

                <div class="whiteBgTab" id="tabs">
                    <div class="tabBtnActive" tab="#tab-detail"><a >MÔ TẢ CHI TIẾT</a></div>
                    <div class="tabBtn" tab="#tab-pictures"><a >HÌNH ẢNH CLIP</a></div>
                    <div class="tabBtn" tab="#tab-map"><a onclick="showMap()" >BẢN ĐỒ</a></div>
                </div><!---whiteBgTab-->

                <div id="tab-detail" class="whiteBgLeft" style="margin-top:-1px;">
                    @Html.Raw(Model.FullDescription)
                </div><!---whiteBgLeft-->
                <div id="tab-pictures" class="whiteBgLeft" style="margin-top:-1px;">
                    
                    
                </div>
                <script type="text/javascript">
                    $(function(){
                        $("#tab-pictures").load("@Url.Action("GetProductImages", new {productId=Model.Id,isGallery=true })");
                    })
                </script>
                <div id="tab-map" class="whiteBgLeft" style="margin-top:-1px;">
                  <div style="width:800px;height:400px">
                          @Html.Partial("_Map", Model)
                    </div>
                </div>
                   
                    
                <script type="text/javascript">                  
                    function showMap()
                    {
                        if($("#map_canvas").html()=="")
                        {
                            loadScript();
                           
                        }
                    }
                    $(function () {
                        $.tabs("#tabs div");

                    })
                    function sendMailFriend()
                    {
                       
                        $.get("@Url.Action("ProductEmailAFriend", "Catalog")", function (d) {
                            $("#popup").html(d);
                            $("#popup").modal({
                                onClose: function () {
                                    $("#popup").hide();
                                    $.modal.close();
                                }
                                
                            });
                            $.validator.unobtrusive.parse("#form0")
                        })

                    }
                </script>
                <div class="floatLeft">
                   @Html.Action("ProductReviews", "Catalog", new { productId = Model.Id })
                </div>
                  

            </div><!-----leftContent-------------->

            <div class="rightContent">
                <div class="pinkBgRight">
                    <b>BẠN CẦN THÊM THÔNG TIN?</b>
                    <div class="twoColRight">
                        <div class="twoColRightPic"><a href="#"><img src="../Themes/Zhouse/Content/images/i1.png" class="circleImg"></a></div>
                        <div class="twoColRightText">
                            @Model.ContactName<br>
                            <b>@Model.ContactPhone</b>
                        </div>
                    </div><!---twoColRight---->
                    @Html.Action("ProductEmailAFriend", new { isBook = true })
                </div><!--pinkBgRight----->
           

            @Html.Action("RelatedProductCustomer", new { customerId = Model.CustomerId })
                <div class="ad">
                    @Html.FptBanner(4)

                </div><!----rightContent---------------->


           

        </div>
            </div>
       
    


     
    

