@model Nop.Web.Models.Catalog.SearchModel
@{
    
    Html.AppendScriptParts("~/Scripts/jquery.nivo.slider.js");
}
@using (Html.BeginRouteForm("ProductSearch", FormMethod.Get))
{
  <div class="wrapper">
<div class="topInfo">
        	<div class="pinkBg">            	
                <img src="@Url.Content("~/Themes/Zhouse/Content/images/zhouse.png")"/> <br>
                @Html.DropDownList("DistrictId",Model.Districts,new{@class="box"})
               @Html.DropDownList("PriceString",Model.PriceRange,new{@class="box"})
                @Html.DropDownList("Cid",Model.AvailableCategories,new{@class="box"})              
<br>
                <input type="submit" style="float:right" class="blueBtn" value="tìm kiếm">
                <div class="clearBoth"></div>
            </div>
        </div>
</div>
    <div id="slider">
    
       
        <img src="@Url.Content("~/Themes/Zhouse/Content/images/slide2.jpg")" class="stretchImg">
        <img src="@Url.Content("~/Themes/Zhouse/Content/images/slide4.jpg")" class="stretchImg">
        <img src="@Url.Content("~/Themes/Zhouse/Content/images/slide5.jpg")" class="stretchImg">
        
      
    </div>
}
<script type="text/javascript">
    $(function () {
        $('#slider').nivoSlider({ effect: 'fade' });


    })
</script>
    
