@model Nop.Web.Models.Catalog.SearchModel
@{
    
    Html.AppendScriptParts("~/Scripts/jquery.nivo.slider.js");
}
@using (Html.BeginRouteForm("ProductSearch", FormMethod.Get))
{
  <div class="wrapper">
<div class="topInfo">
        	<div class="pinkBg">            	
                <img src="@Url.Content("~/Themes/Zhouse/Content/images/zhouse.png")"/> <br>
                @Html.DropDownList("DistrictId",Model.Districts,new{@class="box"})
               @Html.DropDownList("PriceString",Model.PriceRange,new{@class="box"})<br>
                @Html.DropDownList("Cid",Model.AvailableCategories,new{@class="box"})
                 @Html.DropDownList("SelectedOptionIds",Model.BedRooms,"Số phòng ngủ",new{@class="box"})
<br>
                <input type="submit" class="blueBtn" value="tìm kiếm">
            </div>
        </div>
</div>
    <div id="slider">
        @for(int i=0;i<4;i++)
        { 
          <img src="@Url.Content("~/Themes/Zhouse/Content/images/stretchImg.png")" class="stretchImg">
        }
      
    </div>
}
<script type="text/javascript">
    $(function () {
        $('#slider').nivoSlider();


    })
</script>
    
