<header class="header">
    <nav id="menu">
        <div class="container">
            <ul>
                <li><a href="@Url.RouteUrl("HomePage")">Trang chủ</a></li>
                <li><a href="@Url.RouteUrl("NewsItem", new { SeName = "ve-noi-dia" })">Vé nội địa</a></li>
                <li><a href="@Url.RouteUrl("NewsItem", new { SeName = "ve-quoc-te" })">Vé quốc tế</a></li>
                <li><a href="@Url.RouteUrl("NewsItem", new { SeName = "khuyen-mai" })">Khuyến mãi</a></li>
                <li><a href="@Url.RouteUrl("NewsItem", new { SeName = "dich-vu-khac" })">Dịch vụ khác</a></li>
                <li><a href="@Url.RouteUrl("NewsItem", new { SeName = "tin-tuc" })">Tin tức</a></li>
                <li><a href="@Url.RouteUrl("ContactUs")">Liên hệ</a></li>
                <li><span class="hotline">Hotline 0989 448 449</span></li>
            </ul>
        </div>
    </nav>
</header>
